@import "../../bootstrap-loader";

.btn-style1 {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  position: relative;
  transition: all 400ms ease;
  height: 56px;
  line-height: 56px;
  background: var(--theme-color1);
  color: var(--theme-color2);
  gap: 10px;
  border-radius: 40px;
  padding-right: 10px;
  padding-left: 30px;

  &:hover {
    padding-right: 38px;
		padding-left: 10px !important;
    gap: 0;

    .theme-btn-arrow-left {
      scale: 1;
      left: 10px;
    }
    .theme-btn-arrow-right {
      scale: 0;
    }
    .theme-btn {
      transform: translateX(55px);
      color: var(--theme-color2);
    }
  }

  .theme-btn-arrow-left,
  .theme-btn-arrow-right {
    height: 40px;
    line-height: 40px;
    width: 40px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color1);
    color: var(--theme-color1-text-color);
    border-radius: 50%;
    transition: 0.4s;
    text-align: center;

    i {
      rotate: -30deg;
    }

  }

  .theme-btn-arrow-left {
    scale: 0;
    left: 0;
    right: auto;
    position: absolute;
  }
  .theme-btn {

    font-weight: 400;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.4s;

  }
  &.bg-white{
    background-color: #fff !important;
  }
}