.mh-sc-info-banner-advanced {
  position: relative;
  overflow: hidden;
}
.mh-sc-info-banner-advanced .info-banner-inner {
  position: relative;
  padding: 40px 50px 50px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}
.mh-sc-info-banner-advanced .info-banner-inner .banner-background {
  background: var(--theme-color2);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.mh-sc-info-banner-advanced .info-banner-inner .banner-background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.mh-sc-info-banner-advanced .info-banner-inner .banner-floating-image-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: end;
}
.mh-sc-info-banner-advanced .info-banner-inner .banner-floating-image-wrapper img {
  width: 290px;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.mh-sc-info-banner-advanced .info-banner-inner .banner-floating-image-wrapper .floating-img.first-child {
  opacity: 1;
}
.mh-sc-info-banner-advanced .info-banner-inner .banner-floating-image-wrapper .floating-img.last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.mh-sc-info-banner-advanced .info-banner-inner .banner-floating-image-wrapper .banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mh-sc-info-banner-advanced .info-banner-inner .btn-plain-text span.btn-text {
  position: relative;
}
.mh-sc-info-banner-advanced .info-banner-inner .btn-plain-text span.btn-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: background-color 0.25s ease-in-out, width 0.36s cubic-bezier(0.51, 0.5, 0.07, 0.99);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.mh-sc-info-banner-advanced .info-banner-inner .btn-plain-text i, .mh-sc-info-banner-advanced .info-banner-inner .btn-plain-text svg {
  transition: transform 0.3s cubic-bezier(0.37, 0.08, 0.02, 0.93), opacity 0.2s ease-in-out;
  transform: translateX(0);
  will-change: transform;
}
.mh-sc-info-banner-advanced .info-banner-inner .btn-plain-text:hover span.btn-text:after {
  width: 0;
}
.mh-sc-info-banner-advanced .info-banner-inner .btn-plain-text:hover i, .mh-sc-info-banner-advanced .info-banner-inner .btn-plain-text:hover svg {
  transform: translateX(4px);
}
.mh-sc-info-banner-advanced:hover .info-banner-inner .banner-floating-image-wrapper img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.mh-inner-border-around-wrapper-yes .mh-sc-info-banner-advanced:before {
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;
  right: 20px;
  content: "";
  border: 1px solid #ffffff;
  pointer-events: none;
  z-index: 2;
}

.mh-circle-animation-yes .mh-sc-info-banner-advanced {
  position: relative;
}
.mh-circle-animation-yes .mh-sc-info-banner-advanced:after {
  position: absolute;
  left: -40px;
  top: -60px;
  height: 180px;
  width: 180px;
  background: #111;
  border-radius: 50%;
  opacity: 0.03;
  content: "";
  transition: all 500ms ease;
  z-index: 0;
}
.mh-circle-animation-yes .mh-sc-info-banner-advanced:hover:after {
  transform: scale(1.3);
}

.mh-bg-img-zoom-animation-yes .mh-sc-info-banner-advanced:hover .info-banner-inner .banner-background {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.mh-sc-info-banner-advanced.mh-hover-cross-crystal-animation .info-banner-inner:before {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 51%;
  top: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
.mh-sc-info-banner-advanced.mh-hover-cross-crystal-animation .info-banner-inner:after {
  background: rgba(255, 255, 255, 0.3);
  bottom: 50%;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: all 600ms linear;
  transition: all 600ms linear;
}
.mh-sc-info-banner-advanced.mh-hover-cross-crystal-animation:hover .info-banner-inner:before {
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
.mh-sc-info-banner-advanced.mh-hover-cross-crystal-animation:hover .info-banner-inner:after {
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 600ms linear;
  transition: all 600ms linear;
}

.mh-sc-info-banner-advanced.mh-hover-linear-crystal-animation .info-banner-inner:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#00ffffff",GradientType=1 );
  content: "";
  opacity: 0.2;
  left: -100%;
  pointer-events: none;
  z-index: 1;
}
.mh-sc-info-banner-advanced.mh-hover-linear-crystal-animation:hover .info-banner-inner:after {
  left: 100%;
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.mh-sc-info-banner-advanced.mh-layout-top-reveal {
  position: relative;
  overflow: hidden;
}
.mh-sc-info-banner-advanced.mh-layout-top-reveal .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .text-paragraph {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.25s, transform 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.mh-sc-info-banner-advanced.mh-layout-top-reveal .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-delay: 0.05s;
}
.mh-sc-info-banner-advanced.mh-layout-top-reveal:hover .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .text-paragraph {
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.25s, 0.35s;
  transition-delay: 0.1s, 0.1s;
}
.mh-sc-info-banner-advanced.mh-layout-top-reveal:hover .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  transform: translateY(0) translateZ(0) !important;
  transition-delay: 0s;
}

.mh-sc-info-banner-advanced.mh-layout-center {
  position: relative;
  overflow: hidden;
}
.mh-sc-info-banner-advanced.mh-layout-center .info-banner-inner .info-banner-text-holder-wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.mh-sc-info-banner-advanced.mh-layout-center .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .subtitle,
.mh-sc-info-banner-advanced.mh-layout-center .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  opacity: 0;
  transition: opacity 0.23s ease-out, transform 0.28s ease-out;
}
.mh-sc-info-banner-advanced.mh-layout-center .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .subtitle {
  transform: translateY(-10px);
}
.mh-sc-info-banner-advanced.mh-layout-center .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  transform: translateY(10px);
}
.mh-sc-info-banner-advanced.mh-layout-center:hover .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .subtitle,
.mh-sc-info-banner-advanced.mh-layout-center:hover .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  opacity: 1;
  transform: translateY(0px);
}

.mh-sc-info-banner-advanced.mh-layout-bottom {
  position: relative;
  overflow: hidden;
}
.mh-sc-info-banner-advanced.mh-layout-bottom .info-banner-inner .info-banner-text-holder-wrapper {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: opacity 0.2s;
}
.mh-sc-info-banner-advanced.mh-layout-bottom .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder {
  position: relative;
  overflow: hidden;
}
.mh-sc-info-banner-advanced.mh-layout-bottom .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner {
  transform: translateZ(0);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.mh-sc-info-banner-advanced.mh-layout-bottom .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .subtitle,
.mh-sc-info-banner-advanced.mh-layout-bottom .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  opacity: 0;
  transition: opacity 0.23s ease-out, transform 0.28s ease-out;
}
.mh-sc-info-banner-advanced.mh-layout-bottom .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .subtitle {
  transform: translateY(-10px);
}
.mh-sc-info-banner-advanced.mh-layout-bottom .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  transform: translateY(10px);
}
.mh-sc-info-banner-advanced.mh-layout-bottom:hover .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner {
  transform: translateY(0) translateZ(0) !important;
}
.mh-sc-info-banner-advanced.mh-layout-bottom:hover .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .subtitle,
.mh-sc-info-banner-advanced.mh-layout-bottom:hover .info-banner-inner .info-banner-text-holder-wrapper .info-banner-text-holder .info-banner-text-holder-inner .btn-view-details {
  opacity: 1;
  transform: translateY(0px);
}

.mh-sc-info-banner-advanced.mh-layout-image-switch .info-banner-inner:after {
  display: none;
}
.mh-sc-info-banner-advanced.mh-layout-image-switch:hover .info-banner-inner .banner-floating-image-wrapper img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.mh-sc-info-banner-advanced.mh-layout-image-switch:hover .info-banner-inner .banner-floating-image-wrapper .floating-img.first-child {
  opacity: 0;
}
.mh-sc-info-banner-advanced.mh-layout-image-switch:hover .info-banner-inner .banner-floating-image-wrapper .floating-img.last-child {
  opacity: 1;
}