@import "../../bootstrap-loader";

//Award Block Style2
.award-block-current-item-style2 {
  position: relative;
  padding: 40px 60px 40px 50px;
  position: relative;
  background: rgba(21, 21, 21, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(25px);
  border-radius: 40px 0 0 40px;
  @include transition;
  @include media-breakpoint-down(xl) {
    margin: 0 0 0 40px;
  }
  @include media-breakpoint-down(md) {
    margin: 0 0 0 0;
  }
  &:hover {
    background: var(--theme-color1);
    .content {
      border-color: rgba(21, 21, 21, 0.2);
      .award-title {
        color: var(--theme-color1-text-color);
      }
      .bottom {
        .year {
          color: var(--theme-color1-text-color);
        }
        .award-brand-image {
          img {
            filter: brightness(0);
          }
        }
      }
    }
  }

  &:hover,
  &.active {
    .rr-hover-reveal-bg {
      opacity: 1;
      transform: scale(1);
    }
    .award-featured-img {
      opacity: 1;
    }
  }
  .content {
    @include flex-between;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @include transition;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      text-align: center;
    }
    .award-title {
      color: #fff;
      margin-bottom: 12px;
      margin-top: 12px;
      @include transition;
    }
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include media-breakpoint-down(md) {
        align-items: center;
      }
      .year {
        color: #fff;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 20px;
        @include transition;
      }
      .award-brand-image {
        img {
          @include transition;
        }
      }
    }
  }

  .award-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: -50px 0 0 -80px;
    z-index: 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) scale(0, 0), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) scale(0, 0), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) scale(0, 0), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) scale(0, 0), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) scale(0, 0), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    img {
      border-radius: 10px;
    }
  }
}
