@import "../../bootstrap-loader";
@import "features-common";

.features-block-style2 {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  &:hover {
    &:before {
      background-color: var(--theme-color1);
    }
  }
  &:before {
    background-color: #ecf9ed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    z-index: -1;
    @include transition(all 300ms ease);
  }
  .inner-block {
    background-color: #fff;
    border: 1px solid rgba(var(--theme-color2-rgb), 0.1);
    border-radius: 30px;
    overflow: hidden;
    mask-image: url(../../../images/current-theme/features2-mask1.png);
    mask-size: cover;
    mask-position: right top;
    mask-repeat: no-repeat;
    &:hover {
      .title-box {
        .icon {
          i,
          img {
            @include transform(scaleX(-1));
          }
        }
      }
      .content-box {
        &:before {
          height: 0;
        }
        .inner-box {
          &:before {
            height: 100%;
          }
          .text {
            color: var(--theme-color1-text-color);
          }
        }
      }
    }
    .title-box {
      padding: 39px 39px 0;
      margin-bottom: 30px;
      .icon {
        background-color: #ecf9ed;
        border-radius: 50%;
        color: var(--theme-color1);
        font-size: 38px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        text-align: center;
        height: 80px;
        width: 80px;
        margin-bottom: 20px;
        @include transition(all 300ms ease);
        i,
        img {
          display: inline-block;
          @include transition(all 300ms ease);
        }
      }
      .features-title {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .content-box {
      padding: 0 9px 9px;
      position: relative;
      z-index: 0;
      @include transition(all 300ms ease);
      &:before {
        background-color: #ecf9ed;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        @include transition(all 300ms ease);
      }
      .inner-box {
        border-radius: 20px;
        padding: 25px 30px 26px;
        position: relative;
        z-index: 0;
        @include transition(all 300ms ease);
        &:before {
          background-color: var(--theme-color1);
          border-radius: 20px;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 0;
          width: 100%;
          z-index: -1;
          @include transition(all 300ms ease);
        }
        .text {
          @include transition(all 300ms ease);
        }
      }
    }
  }
}
