.mh-gallery-item-default a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
.mh-gallery-item-default a img {
  width: 100%;
  transform: translateX(0) scale(1.06) rotate(0.1deg);
  transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}
.mh-gallery-item-default a:hover img {
  transform: translateX(3%) scale(1.06) rotate(0);
}
.mh-gallery-item-default:hover .gallery-bottom-wrapper .title {
  transform: translate(0);
  opacity: 1;
}
.mh-gallery-item-default .gallery-bottom-wrapper {
  left: 54px;
  margin: 0;
  position: absolute;
  bottom: 28px;
}
.mh-gallery-item-default .gallery-bottom-wrapper .title {
  color: #fff;
  text-shadow: 0 0 20px #000;
}
.mh-gallery-item-default .gallery-bottom-wrapper .title {
  margin-bottom: 2px;
  color: #ffffff;
  opacity: 0;
  margin-top: 0;
  transform: translateY(-20px);
  transition: all 300ms ease;
  z-index: 3;
  position: relative;
}
.mh-gallery-item-default .gallery-bottom-wrapper .title a:hover {
  color: var(--theme-color1);
}

.hover-no-animation-yes .mh-gallery-item-default a img {
  transform: scale(1) rotate(0);
}
.hover-no-animation-yes .mh-gallery-item-default a:hover img {
  transform: scale(1) rotate(0);
}

.mh-gallery-item-currenty-style1 {
  border: none;
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner .thumb img {
  transition: all 0.6s ease-in-out 0s;
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner .gallery-bottom-wrapper {
  left: 54px;
  margin: 0;
  position: absolute;
  bottom: 28px;
  max-width: 50%;
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner .gallery-bottom-wrapper .title {
  text-shadow: 0 0 20px #000;
  margin-bottom: 2px;
  color: #ffffff;
  opacity: 0;
  margin-top: 0;
  transform: translateY(-20px);
  transition: all 300ms ease;
  z-index: 3;
  position: relative;
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner .gallery-bottom-wrapper .title a:hover {
  color: var(--theme-color1);
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner:hover .gallery-bottom-wrapper .title {
  transform: translate(0);
  opacity: 1;
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner:hover .thumb img {
  transform: scale(1.1) rotate(-3deg);
}
.mh-gallery-item-currenty-style1 .mh-gallery-inner:hover .btn-more {
  opacity: 1;
}

.mh-gallery-item-currenty-style2 .inner-box {
  position: relative;
  height: 100%;
}
.mh-gallery-item-currenty-style2 .inner-box:hover .image img {
  transform: scale(1.1);
}
.mh-gallery-item-currenty-style2 .inner-box:hover .info-box {
  opacity: 1;
  visibility: visible;
}
.mh-gallery-item-currenty-style2 .inner-box:hover .info-box:before {
  transform: scale(1);
}
.mh-gallery-item-currenty-style2 .inner-box:hover .info-box:after {
  opacity: 1;
  transform: scale(1);
  transition-delay: 200ms;
}
.mh-gallery-item-currenty-style2 .inner-box:hover .info-box .title {
  transform: translate(0);
  opacity: 1;
  transition-delay: 600ms;
}
.mh-gallery-item-currenty-style2 .inner-box:hover .info-box .sub-title {
  transform: translate(0);
  opacity: 1;
  transition-delay: 400ms;
}
.mh-gallery-item-currenty-style2 .inner-box .image-box {
  overflow: hidden;
}
.mh-gallery-item-currenty-style2 .inner-box .image-box .image {
  position: relative;
  margin-bottom: 0;
}
.mh-gallery-item-currenty-style2 .inner-box .image-box .image img {
  transition: all 300ms ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mh-gallery-item-currenty-style2 .inner-box .info-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.mh-gallery-item-currenty-style2 .inner-box .info-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0.8);
  transition: all 300ms ease;
  z-index: 3;
}
.mh-gallery-item-currenty-style2 .inner-box .info-box::after {
  content: "";
  position: absolute;
  top: 27px;
  left: 29px;
  right: 29px;
  bottom: 27px;
  pointer-events: none;
  border: 1px solid var(--theme-color1);
  z-index: 3;
  opacity: 0;
  transform: scale(0.8);
  transition: all 400ms ease;
}
.mh-gallery-item-currenty-style2 .inner-box .info-box .title {
  margin-bottom: 2px;
  color: #ffffff;
  opacity: 0;
  margin-top: 0;
  transform: translateY(-20px);
  transition: all 300ms ease;
  z-index: 3;
  position: relative;
}
.mh-gallery-item-currenty-style2 .inner-box .info-box .title a:hover {
  color: var(--theme-color1);
}
.mh-gallery-item-currenty-style2 .inner-box .info-box .sub-title {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-40px);
  transition: all 300ms ease;
  z-index: 3;
}

.mh-gallery-item-currenty-style3 {
  position: relative;
}
.mh-gallery-item-currenty-style3 .inner-box:hover .image-box:before {
  height: 0%;
}
.mh-gallery-item-currenty-style3 .inner-box:hover .image-box .image img {
  transform: scale(1.1);
}
.mh-gallery-item-currenty-style3 .inner-box:hover .image-box .title:before {
  transform: scale(1);
}
.mh-gallery-item-currenty-style3 .inner-box .image-box {
  position: relative;
}
.mh-gallery-item-currenty-style3 .inner-box .image-box:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 1;
  opacity: 0.5;
  transition: all 300ms ease;
  content: "";
}
.mh-gallery-item-currenty-style3 .inner-box .image-box .image {
  position: relative;
  overflow: hidden;
}
.mh-gallery-item-currenty-style3 .inner-box .image-box .image img {
  width: 100%;
  transition: all 0.3s ease;
}
.mh-gallery-item-currenty-style3 .inner-box .image-box .title {
  position: absolute;
  bottom: 48px;
  left: 50%;
  line-height: 61px;
  display: inline-block;
  white-space: nowrap;
  color: #ffffff;
  padding: 0 23px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(-50%);
  transition: all 300ms ease;
  z-index: 3;
}
.mh-gallery-item-currenty-style3 .inner-box .image-box .title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: var(--theme-color1);
  transform: scale(0);
  transition: all 300ms ease;
  z-index: -1;
}
.mh-gallery-item-currenty-style3 .inner-box .image-box .title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 34px;
  height: 61px;
  border: 1px solid var(--theme-color1);
  z-index: -1;
  transform: translateX(-60%);
}