@import "../../bootstrap-loader";
@import "service-common";
.service-block-style8 {
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    @include transition(all 300ms ease);
    &:before {
      @include overlay;
      max-height: 4px;
      z-index: 2;
      background-color: var(--theme-color1);
      @include transition(all 300ms ease);
      content: "";
    }
    &:hover {
      .image-box .service-featured-img img {
        @include transform(scale(1.1));
      }
      .image-box .service-featured-img:before,
      .content-box {
        opacity: 0;
        visibility: hidden;
      }
      .hover-content {
        opacity: 1;
        visibility: visible;
        @include transform(scale(1));
        .service-icon {
          i,
          svg {
            opacity: 1;
            @include transform(translate(0));
            transition-delay: 300ms;
          }
        }
        .service-title {
          opacity: 1;
          @include transform(translate(0));
          transition-delay: 400ms;
        }
        .service-details {
          opacity: 0.7;
          @include transform(translate(0));
          transition-delay: 500ms;
        }
      }
    }
    .image-box {
      position: relative;
      min-height: 304px;
      overflow: hidden;
      .service-featured-img {
        &:before {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 40px;
          width: 100%;
          background-color: #fff;
          content: "";
          @include transition(all 200ms ease);
        }
        position: relative;
        margin-bottom: 0;
        background-color: var(--theme-color2);
        img {
          width: 100%;
          @include transform(scale(1));
          object-fit: cover;
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 20px;
      background-color: #fff;
      box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
      padding: 16px 30px;
      @include transition(all 200ms ease);
      [data-mh-layout="dark"] & {
        background: #1a1b1d;
      }
      .service-icon {
        i,
        svg {
          position: absolute;
          right: 0;
          bottom: 100%;
          height: 64px;
          width: 64px;
          @include flex-center;
          background-color: var(--theme-color1);
          color: var(--theme-color2);
          font-size: 32px;
          z-index: 2;
          @include transition(all 300ms ease);
        }
      }
      .service-title {
        color: var(--theme-color2);
        margin-top: 0;
        margin-bottom: 0;
        [data-mh-layout="dark"] & {
          color: #fff;
        }
      }
    }
    .hover-content {
      @include overlay;
      padding: 35px 30px 20px;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      @include transition(all 300ms ease);
      @include transform(scaleY(0));
      transform-origin: bottom;
      &::before {
        @include overlay;
        background-color: #0e0f11;
        opacity: 0.9;
        content: "";
        border-bottom: 4px solid var(--theme-color1);
      }
      .service-icon {
        i,
        svg {
          position: relative;
          @include flex-center;
          height: 64px;
          width: 64px;
          color: var(--theme-color2);
          font-size: 32px;
          background-color: var(--theme-color1);
          margin-bottom: 25px;
          opacity: 0;
          @include transform(translateY(20px));
          @include transition(all 300ms ease);
        }
      }
      .service-title {
        color: #fff;
        margin-bottom: 18px;
        @include transform(translateY(20px));
        opacity: 0;
        @include transition(all 300ms ease);
      }
      .service-details {
        color: #fff;
        @include transform(translateY(20px));
        opacity: 0;
        @include transition(all 300ms ease);
      }
    }
  }
}
