.countdown-timer-style2 {
  text-align: center;
}
.countdown-timer-style2 .countdown-timer {
  border: 1px solid #4c4c4c;
  border-radius: 300px;
  padding: 60px 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .countdown-timer-style2 .countdown-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.countdown-timer-style2 .countdown-timer .counter {
  position: relative;
  max-width: 250px;
  width: 100%;
  padding: 0 32px;
  border-left: 1px solid #d6d6d6;
}
@media (max-width: 575.98px) {
  .countdown-timer-style2 .countdown-timer .counter {
    border-left: 0;
  }
}
.countdown-timer-style2 .countdown-timer .counter:first-child {
  border-left: 0;
}
@media (max-width: 991.98px) {
  .countdown-timer-style2 .countdown-timer .counter {
    min-width: auto;
  }
}
@media (max-width: 575.98px) {
  .countdown-timer-style2 .countdown-timer .counter {
    padding: 20px 0;
  }
}
.countdown-timer-style2 .countdown-timer .counter .value {
  position: relative;
  color: var(--headings-color);
  font-family: var(--heading-font-family);
  font-size: 70px;
  font-weight: 400;
  line-height: 1em;
  display: block;
  text-align: center;
}
@media (max-width: 767.98px) {
  .countdown-timer-style2 .countdown-timer .counter .value {
    font-size: 50px;
  }
}
.countdown-timer-style2 .countdown-timer .counter .label {
  position: relative;
  margin-bottom: 7px;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--headings-color);
}
@media (max-width: 767.98px) {
  .countdown-timer-style2 .countdown-timer .counter .label {
    font-size: 16px;
  }
}