@import url("../../../flaticon-set-shadhin/style.css");
.mh-sc-service .icon {
  display: inline-block;
}
.mh-sc-service .icon,
.mh-sc-service .feature-title,
.mh-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-cursor-floating-info {
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
}
.service-block-cursor-floating-info .inner-box {
  border: 1px solid var(--theme-color1);
  position: relative;
  padding: 18px 23px 36px;
  background: #fff;
  transition: all 300ms ease;
}
.service-block-cursor-floating-info .inner-box:after {
  background-image: url(../../../images/current-theme/pattern1-2.png);
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 70%;
  width: 100%;
  opacity: 0;
  transition: all 300ms ease;
}
.service-block-cursor-floating-info .inner-box:hover {
  border-color: var(--theme-color2);
  background: transparent;
}
.service-block-cursor-floating-info .inner-box:hover:after {
  height: 100%;
  opacity: 1;
  z-index: -1;
}
.service-block-cursor-floating-info .inner-box:hover .image-box .image img {
  transform: scale(1.15);
}
.service-block-cursor-floating-info .inner-box:hover .content-box .service-title,
.service-block-cursor-floating-info .inner-box:hover .content-box .service-subtitle {
  color: #fff;
}
.service-block-cursor-floating-info .inner-box:hover .content-box .service-title:hover,
.service-block-cursor-floating-info .inner-box:hover .content-box .service-subtitle:hover {
  color: var(--theme-color1);
}
.service-block-cursor-floating-info .inner-box:hover .content-box .service-details .service-subtitle {
  color: #fff;
}
.service-block-cursor-floating-info .inner-box:hover .content-box .service-list li {
  color: #fff;
}
.service-block-cursor-floating-info .inner-box .image-box .image {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.service-block-cursor-floating-info .inner-box .image-box .image img {
  position: relative;
  width: 100%;
  transition: all 400ms ease;
}
.service-block-cursor-floating-info .inner-box .content-box .info-box {
  position: relative;
}
.service-block-cursor-floating-info .inner-box .content-box .service-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: -0.01em;
  z-index: 2;
  transition: all 300ms ease;
}
.service-block-cursor-floating-info .inner-box .content-box .service-title:hover {
  color: var(--theme-color1);
}
.service-block-cursor-floating-info .inner-box .content-box .service-details .service-subtitle {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 17px;
  transition: all 300ms ease;
}
.service-block-cursor-floating-info .inner-box .content-box .service-list {
  position: relative;
}
.service-block-cursor-floating-info .inner-box .content-box .service-list li {
  align-items: center;
  color: var(--headings-color);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 7px;
  list-style: none;
  transition: all 300ms ease;
}
.service-block-cursor-floating-info .inner-box .content-box .service-list li:last-child {
  margin-bottom: 0;
}
.service-block-cursor-floating-info .inner-box .content-box .service-list .icon {
  font-size: 20px;
  line-height: 1;
  margin-right: 15px;
}