
/*========================================== Row / Colum Background Base Css ==========================================*/
.tm-col-stretched-yes .tm-stretched-div{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;    
    width: auto;
    z-index: 0;
    overflow: hidden;
}

.tm-col-stretched-yes .tm-stretched-div:before {
    content: var(--background-overlay);
    display: block;
    position: absolute;
    mix-blend-mode: var(--overlay-mix-blend-mode);
    opacity: var(--overlay-opacity);
    transition: var(--overlay-transition,.3s);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-block-start-width: var(--border-block-start-width);
    border-inline-end-width: var(--border-inline-end-width);
    border-block-end-width: var(--border-block-end-width);
    border-inline-start-width: var(--border-inline-start-width);
    top: calc(0px - var(--border-block-start-width));
    left: calc(0px - var(--border-inline-start-width));
    width: max(100% + var(--border-inline-end-width) + var(--border-inline-start-width),100%);
    height: max(100% + var(--border-block-start-width) + var(--border-block-end-width),100%);
}


.tm-col-stretched-right .tm-stretched-div,
.tm-col-stretched-left .tm-stretched-div{   
    right: 0;
}
.elementor-top-column.tm-col-stretched-left:not(.elementor-col-100) .tm-stretched-div{
    margin-left: -500px;
}
.elementor-top-column.tm-col-stretched-right:not(.elementor-col-100) .tm-stretched-div{
    margin-right: -500px;  
}

.elementor-section.elementor-top-section.tm-bg-image-over-color.tm-bgimage-yes:before,
.elementor-column.elementor-top-column.tm-bgimage-yes.tm-bg-image-over-color > .tm-stretched-div:before,

.elementor-column.elementor-top-column.tm-bg-image-over-color > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.tm-bg-image-over-color > .elementor-column-wrap:before{ 
	background-color: transparent !important;
}
.elementor-column.tm-col-stretched-yes.tm-bgimage-yes{
    background-image: none;
    background-color: transparent;
}
.tm-bgimage-over-bgcolor.tm-bgimage-yes .tm-stretched-div:before,
.tm-bgimage-over-bgcolor.tm-bgimage-yes:before{
   background-color: transparent !important
}


.elementor-top-section:before, 
.tm-col-stretched-yes .tm-stretched-div:before,

.elementor-column.elementor-top-column .elementor-widget-wrap:before,
.elementor-column.elementor-top-column .elementor-column-wrap:before,

.elementor-inner-column > div:before,
.elementor-inner-section:before{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	display: block;
	z-index: 0;
}


/* --------------------------------------
 * Row Colum - Global BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-globalcolor, 
.elementor-section.elementor-top-section.tm-elementor-bg-color-globalcolor:before, 
.elementor-section.elementor-inner-section.tm-elementor-bg-color-globalcolor {
    background-color: var(--tm-colza-global-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-globalcolor.tm-bgimage-yes:before{
	background-color: rgba( var(--tm-colza-global-color-rgb) , 0.60 );
}



/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor:not(.tm-bgimage-yes) .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bg-image-over-color .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor:not(.tm-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor:not(.tm-bgimage-yes) .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bg-image-over-color .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor:not(.tm-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--tm-colza-global-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-widget-wrap .tm-stretched-div:before,
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor .elementor-widget-wrap .tm-bgimage-yes.tm-stretched-div:before,

.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-column-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-globalcolor .elementor-column-wrap .tm-bgimage-yes.tm-stretched-div:before{
	background-color: rgba( var(--tm-colza-global-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.tm-elementor-bg-color-globalcolor{ 
	background-color: var(--tm-colza-global-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.tm-elementor-bg-color-globalcolor:not(.tm-bg-image-over-color):before{
	background-color: rgba( var(--tm-colza-global-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.tm-elementor-bg-color-globalcolor > div.elementor-column-wrap,
.elementor-inner-column.tm-elementor-bg-color-globalcolor > div.elementor-widget-wrap{ 
	background-color: var(--tm-colza-global-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.tm-elementor-bg-color-globalcolor:not(.tm-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.tm-elementor-bg-color-globalcolor:not(.tm-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--tm-colza-global-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Global BG Color ======*/

/* --------------------------------------
 * Row Colum - Light BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-light, 
.elementor-section.elementor-top-section.tm-elementor-bg-color-light:before, 
.elementor-section.elementor-inner-section.tm-elementor-bg-color-light {
    background-color: var(--tm-colza-light-bg-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-light.tm-bgimage-yes:before{
	background-color: rgba( var(--tm-colza-light-bg-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-light:not(.tm-bgimage-yes) .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bg-image-over-color .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light:not(.tm-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.tm-elementor-bg-color-light:not(.tm-bgimage-yes) .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bg-image-over-color .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light:not(.tm-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--tm-colza-light-bg-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-widget-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light .elementor-widget-wrap .tm-bgimage-yes.tm-stretched-div:before,

.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-column-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-light .elementor-column-wrap .tm-bgimage-yes.tm-stretched-div:before{
	background-color: rgba( var(--tm-colza-light-bg-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.tm-elementor-bg-color-light{ 
	background-color: var(--tm-colza-light-bg-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.tm-elementor-bg-color-light:not(.tm-bg-image-over-color):before{
	background-color: rgba( var(--tm-colza-light-bg-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.tm-elementor-bg-color-light > div.elementor-column-wrap,
.elementor-inner-column.tm-elementor-bg-color-light > div.elementor-widget-wrap{ 
	background-color: var(--tm-colza-light-bg-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.tm-elementor-bg-color-light:not(.tm-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.tm-elementor-bg-color-light:not(.tm-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--tm-colza-light-bg-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Light BG Color ======*/

/* --------------------------------------
 * Row Colum - Secondary BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-secondary, 
.elementor-section.elementor-top-section.tm-elementor-bg-color-secondary:before, 
.elementor-section.elementor-inner-section.tm-elementor-bg-color-secondary {
    background-color: var(--tm-colza-secondary-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-secondary.tm-bgimage-yes:before{
	background-color: rgba( var(--tm-colza-secondary-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary:not(.tm-bgimage-yes) .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bg-image-over-color .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary:not(.tm-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary:not(.tm-bgimage-yes) .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bg-image-over-color .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary:not(.tm-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--tm-colza-secondary-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-widget-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary .elementor-widget-wrap .tm-bgimage-yes.tm-stretched-div:before,

.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-column-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-secondary .elementor-column-wrap .tm-bgimage-yes.tm-stretched-div:before{
	background-color: rgba( var(--tm-colza-secondary-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.tm-elementor-bg-color-secondary{ 
	background-color: var(--tm-colza-secondary-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.tm-elementor-bg-color-secondary:not(.tm-bg-image-over-color):before{
	background-color: rgba( var(--tm-colza-secondary-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.tm-elementor-bg-color-secondary > div.elementor-column-wrap,
.elementor-inner-column.tm-elementor-bg-color-secondary > div.elementor-widget-wrap{ 
	background-color: var(--tm-colza-secondary-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.tm-elementor-bg-color-secondary:not(.tm-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.tm-elementor-bg-color-secondary:not(.tm-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--tm-colza-secondary-color-rgb) , 0.60 );
}



/*====== End --- Row Colum - Secondary BG Color ======*/

/* --------------------------------------
 * Row Colum - Blackish BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-blackish, 
.elementor-section.elementor-top-section.tm-elementor-bg-color-blackish:before, 
.elementor-section.elementor-inner-section.tm-elementor-bg-color-blackish {
    background-color: var(--tm-colza-blackish-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-blackish.tm-bgimage-yes:before{
	background-color: rgba( var(--tm-colza-blackish-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish:not(.tm-bgimage-yes) .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bg-image-over-color .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish:not(.tm-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish:not(.tm-bgimage-yes) .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bg-image-over-color .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish:not(.tm-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--tm-colza-blackish-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-widget-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish .elementor-widget-wrap .tm-bgimage-yes.tm-stretched-div:before,

.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-column-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-blackish .elementor-column-wrap .tm-bgimage-yes.tm-stretched-div:before{
	background-color: rgba( var(--tm-colza-blackish-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.tm-elementor-bg-color-blackish{ 
	background-color: var(--tm-colza-blackish-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.tm-elementor-bg-color-blackish:not(.tm-bg-image-over-color):before{
	background-color: rgba( var(--tm-colza-blackish-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.tm-elementor-bg-color-blackish > div.elementor-column-wrap,
.elementor-inner-column.tm-elementor-bg-color-blackish > div.elementor-widget-wrap{ 
	background-color: var(--tm-colza-blackish-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.tm-elementor-bg-color-blackish:not(.tm-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.tm-elementor-bg-color-blackish:not(.tm-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--tm-colza-blackish-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Blackish BG Color ======*/

/* --------------------------------------
 * Row Colum - White BG Color
 * ---------------------------------------*/



/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-white, 
.elementor-section.elementor-top-section.tm-elementor-bg-color-white:before, 
.elementor-section.elementor-inner-section.tm-elementor-bg-color-white {
    background-color: var(--tm-colza-white-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-white.tm-bgimage-yes:before{
	background-color: rgba( var(--tm-colza-white-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-white:not(.tm-bgimage-yes) .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bg-image-over-color .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white:not(.tm-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.tm-elementor-bg-color-white:not(.tm-bgimage-yes) .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bg-image-over-color .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white:not(.tm-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--tm-colza-white-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-widget-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white .elementor-widget-wrap .tm-bgimage-yes.tm-stretched-div:before,

.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-column-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-white .elementor-column-wrap .tm-bgimage-yes.tm-stretched-div:before{
	background-color: rgba( var(--tm-colza-white-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.tm-elementor-bg-color-white{ 
	background-color: var(--tm-colza-white-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.tm-elementor-bg-color-white:not(.tm-bg-image-over-color):before{
	background-color: rgba( var(--tm-colza-white-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.tm-elementor-bg-color-white > div.elementor-column-wrap,
.elementor-inner-column.tm-elementor-bg-color-white > div.elementor-widget-wrap{ 
	background-color: var(--tm-colza-white-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.tm-elementor-bg-color-white:not(.tm-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.tm-elementor-bg-color-white:not(.tm-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--tm-colza-white-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - White BG Color ======*/


/* --------------------------------------
 * Row Colum - Gradient BG Color
 * ---------------------------------------*/

/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-gradient, 
.elementor-section.elementor-top-section.tm-elementor-bg-color-gradient:before, 
.elementor-section.elementor-inner-section.tm-elementor-bg-color-gradient {
    background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.tm-elementor-bg-color-gradient.tm-bgimage-yes:before{
    background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
    opacity: 0.5;
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient:not(.tm-bgimage-yes) .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bg-image-over-color .elementor-widget-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient:not(.tm-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient:not(.tm-bgimage-yes) .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bg-image-over-color .elementor-column-wrap > .tm-stretched-div, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient:not(.tm-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bg-image-over-color:not(.tm-col-stretched-yes) > .elementor-column-wrap{
    background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-widget-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient .elementor-widget-wrap .tm-bgimage-yes.tm-stretched-div:before,

.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bgimage-yes:not(.tm-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient.tm-bgimage-yes:not(.tm-bg-image-over-color) .elementor-column-wrap .tm-stretched-div:before, 
.elementor-column.elementor-top-column.tm-elementor-bg-color-gradient .elementor-column-wrap .tm-bgimage-yes.tm-stretched-div:before{
    background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 80%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
    opacity: 0.5;
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.tm-elementor-bg-color-gradient{ 
    background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.tm-elementor-bg-color-gradient:not(.tm-bg-image-over-color):before{
    background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
    opacity: 0.5;
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.tm-elementor-bg-color-gradient > div.elementor-column-wrap,
.elementor-inner-column.tm-elementor-bg-color-gradient > div.elementor-widget-wrap{ 
	background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.tm-elementor-bg-color-gradient:not(.tm-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.tm-elementor-bg-color-gradient:not(.tm-bg-image-over-color) > div.elementor-widget-wrap:before{
    background-image: -ms-linear-gradient(right, var(--tm-colza-gradient-color-first) 0%, var(--tm-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--tm-colza-gradient-color-first) , var(--tm-colza-gradient-color-last) );
}


/*====== End --- Row Colum - Gradient BG Color ======*/

























