
/*========================================== Row / Colum Background Base Css ==========================================*/
.mh-col-stretched-yes .mh-stretched-div{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    width: auto;
    z-index: 0;
    overflow: hidden;
}

.mh-col-stretched-yes .mh-stretched-div:before {
    content: var(--background-overlay);
    display: block;
    position: absolute;
    mix-blend-mode: var(--overlay-mix-blend-mode);
    opacity: var(--overlay-opacity);
    transition: var(--overlay-transition,.3s);
    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-block-start-width: var(--border-block-start-width);
    border-inline-end-width: var(--border-inline-end-width);
    border-block-end-width: var(--border-block-end-width);
    border-inline-start-width: var(--border-inline-start-width);
    top: calc(0px - var(--border-block-start-width));
    left: calc(0px - var(--border-inline-start-width));
    width: max(100% + var(--border-inline-end-width) + var(--border-inline-start-width),100%);
    height: max(100% + var(--border-block-start-width) + var(--border-block-end-width),100%);
}


.mh-col-stretched-right .mh-stretched-div,
.mh-col-stretched-left .mh-stretched-div{
    right: 0;
}
.elementor-top-column.mh-col-stretched-left:not(.elementor-col-100) .mh-stretched-div{
    margin-left: -500px;
}
.elementor-top-column.mh-col-stretched-right:not(.elementor-col-100) .mh-stretched-div{
    margin-right: -500px;
}

.elementor-section.elementor-top-section.mh-bg-image-over-color.mh-bgimage-yes:before,
.elementor-column.elementor-top-column.mh-bgimage-yes.mh-bg-image-over-color > .mh-stretched-div:before,

.elementor-column.elementor-top-column.mh-bg-image-over-color > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.mh-bg-image-over-color > .elementor-column-wrap:before{
	background-color: transparent !important;
}
.elementor-column.mh-col-stretched-yes.mh-bgimage-yes{
    background-image: none;
    background-color: transparent;
}
.mh-bgimage-over-bgcolor.mh-bgimage-yes .mh-stretched-div:before,
.mh-bgimage-over-bgcolor.mh-bgimage-yes:before{
   background-color: transparent !important
}


.elementor-top-section:before,
.mh-col-stretched-yes .mh-stretched-div:before,

.elementor-column.elementor-top-column .elementor-widget-wrap:before,
.elementor-column.elementor-top-column .elementor-column-wrap:before,

.elementor-inner-column > div:before,
.elementor-inner-section:before{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	display: block;
	z-index: 0;
}


/* --------------------------------------
 * Row Colum - Global BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-globalcolor,
.elementor-section.elementor-top-section.mh-elementor-bg-color-globalcolor:before,
.elementor-section.elementor-inner-section.mh-elementor-bg-color-globalcolor {
    background-color: var(--mh-colza-global-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-globalcolor.mh-bgimage-yes:before{
	background-color: rgba( var(--mh-colza-global-color-rgb) , 0.60 );
}



/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor:not(.mh-bgimage-yes) .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bg-image-over-color .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor:not(.mh-col-stretched-yes) > .elementor-widget-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor:not(.mh-bgimage-yes) .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bg-image-over-color .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor:not(.mh-col-stretched-yes) > .elementor-column-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--mh-colza-global-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-widget-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor .elementor-widget-wrap .mh-bgimage-yes.mh-stretched-div:before,

.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-column-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-column-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-globalcolor .elementor-column-wrap .mh-bgimage-yes.mh-stretched-div:before{
	background-color: rgba( var(--mh-colza-global-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.mh-elementor-bg-color-globalcolor{
	background-color: var(--mh-colza-global-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.mh-elementor-bg-color-globalcolor:not(.mh-bg-image-over-color):before{
	background-color: rgba( var(--mh-colza-global-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.mh-elementor-bg-color-globalcolor > div.elementor-column-wrap,
.elementor-inner-column.mh-elementor-bg-color-globalcolor > div.elementor-widget-wrap{
	background-color: var(--mh-colza-global-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.mh-elementor-bg-color-globalcolor:not(.mh-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.mh-elementor-bg-color-globalcolor:not(.mh-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--mh-colza-global-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Global BG Color ======*/

/* --------------------------------------
 * Row Colum - Light BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-light,
.elementor-section.elementor-top-section.mh-elementor-bg-color-light:before,
.elementor-section.elementor-inner-section.mh-elementor-bg-color-light {
    background-color: var(--mh-colza-light-bg-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-light.mh-bgimage-yes:before{
	background-color: rgba( var(--mh-colza-light-bg-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-light:not(.mh-bgimage-yes) .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bg-image-over-color .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light:not(.mh-col-stretched-yes) > .elementor-widget-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.mh-elementor-bg-color-light:not(.mh-bgimage-yes) .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bg-image-over-color .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light:not(.mh-col-stretched-yes) > .elementor-column-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--mh-colza-light-bg-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-widget-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light .elementor-widget-wrap .mh-bgimage-yes.mh-stretched-div:before,

.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-column-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-column-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-light .elementor-column-wrap .mh-bgimage-yes.mh-stretched-div:before{
	background-color: rgba( var(--mh-colza-light-bg-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.mh-elementor-bg-color-light{
	background-color: var(--mh-colza-light-bg-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.mh-elementor-bg-color-light:not(.mh-bg-image-over-color):before{
	background-color: rgba( var(--mh-colza-light-bg-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.mh-elementor-bg-color-light > div.elementor-column-wrap,
.elementor-inner-column.mh-elementor-bg-color-light > div.elementor-widget-wrap{
	background-color: var(--mh-colza-light-bg-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.mh-elementor-bg-color-light:not(.mh-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.mh-elementor-bg-color-light:not(.mh-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--mh-colza-light-bg-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Light BG Color ======*/

/* --------------------------------------
 * Row Colum - Secondary BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-secondary,
.elementor-section.elementor-top-section.mh-elementor-bg-color-secondary:before,
.elementor-section.elementor-inner-section.mh-elementor-bg-color-secondary {
    background-color: var(--mh-colza-secondary-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-secondary.mh-bgimage-yes:before{
	background-color: rgba( var(--mh-colza-secondary-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary:not(.mh-bgimage-yes) .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bg-image-over-color .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary:not(.mh-col-stretched-yes) > .elementor-widget-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary:not(.mh-bgimage-yes) .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bg-image-over-color .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary:not(.mh-col-stretched-yes) > .elementor-column-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--mh-colza-secondary-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-widget-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary .elementor-widget-wrap .mh-bgimage-yes.mh-stretched-div:before,

.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-column-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-column-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-secondary .elementor-column-wrap .mh-bgimage-yes.mh-stretched-div:before{
	background-color: rgba( var(--mh-colza-secondary-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.mh-elementor-bg-color-secondary{
	background-color: var(--mh-colza-secondary-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.mh-elementor-bg-color-secondary:not(.mh-bg-image-over-color):before{
	background-color: rgba( var(--mh-colza-secondary-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.mh-elementor-bg-color-secondary > div.elementor-column-wrap,
.elementor-inner-column.mh-elementor-bg-color-secondary > div.elementor-widget-wrap{
	background-color: var(--mh-colza-secondary-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.mh-elementor-bg-color-secondary:not(.mh-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.mh-elementor-bg-color-secondary:not(.mh-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--mh-colza-secondary-color-rgb) , 0.60 );
}



/*====== End --- Row Colum - Secondary BG Color ======*/

/* --------------------------------------
 * Row Colum - Blackish BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-blackish,
.elementor-section.elementor-top-section.mh-elementor-bg-color-blackish:before,
.elementor-section.elementor-inner-section.mh-elementor-bg-color-blackish {
    background-color: var(--mh-colza-blackish-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-blackish.mh-bgimage-yes:before{
	background-color: rgba( var(--mh-colza-blackish-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish:not(.mh-bgimage-yes) .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bg-image-over-color .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish:not(.mh-col-stretched-yes) > .elementor-widget-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish:not(.mh-bgimage-yes) .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bg-image-over-color .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish:not(.mh-col-stretched-yes) > .elementor-column-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--mh-colza-blackish-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-widget-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish .elementor-widget-wrap .mh-bgimage-yes.mh-stretched-div:before,

.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-column-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-column-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-blackish .elementor-column-wrap .mh-bgimage-yes.mh-stretched-div:before{
	background-color: rgba( var(--mh-colza-blackish-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.mh-elementor-bg-color-blackish{
	background-color: var(--mh-colza-blackish-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.mh-elementor-bg-color-blackish:not(.mh-bg-image-over-color):before{
	background-color: rgba( var(--mh-colza-blackish-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.mh-elementor-bg-color-blackish > div.elementor-column-wrap,
.elementor-inner-column.mh-elementor-bg-color-blackish > div.elementor-widget-wrap{
	background-color: var(--mh-colza-blackish-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.mh-elementor-bg-color-blackish:not(.mh-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.mh-elementor-bg-color-blackish:not(.mh-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--mh-colza-blackish-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Blackish BG Color ======*/

/* --------------------------------------
 * Row Colum - White BG Color
 * ---------------------------------------*/



/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-white,
.elementor-section.elementor-top-section.mh-elementor-bg-color-white:before,
.elementor-section.elementor-inner-section.mh-elementor-bg-color-white {
    background-color: var(--mh-colza-white-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-white.mh-bgimage-yes:before{
	background-color: rgba( var(--mh-colza-white-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-white:not(.mh-bgimage-yes) .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bg-image-over-color .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white:not(.mh-col-stretched-yes) > .elementor-widget-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.mh-elementor-bg-color-white:not(.mh-bgimage-yes) .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bg-image-over-color .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white:not(.mh-col-stretched-yes) > .elementor-column-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--mh-colza-white-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-widget-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white .elementor-widget-wrap .mh-bgimage-yes.mh-stretched-div:before,

.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-column-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-column-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-white .elementor-column-wrap .mh-bgimage-yes.mh-stretched-div:before{
	background-color: rgba( var(--mh-colza-white-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.mh-elementor-bg-color-white{
	background-color: var(--mh-colza-white-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.mh-elementor-bg-color-white:not(.mh-bg-image-over-color):before{
	background-color: rgba( var(--mh-colza-white-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.mh-elementor-bg-color-white > div.elementor-column-wrap,
.elementor-inner-column.mh-elementor-bg-color-white > div.elementor-widget-wrap{
	background-color: var(--mh-colza-white-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.mh-elementor-bg-color-white:not(.mh-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.mh-elementor-bg-color-white:not(.mh-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--mh-colza-white-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - White BG Color ======*/


/* --------------------------------------
 * Row Colum - Gradient BG Color
 * ---------------------------------------*/

/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-gradient,
.elementor-section.elementor-top-section.mh-elementor-bg-color-gradient:before,
.elementor-section.elementor-inner-section.mh-elementor-bg-color-gradient {
    background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.mh-elementor-bg-color-gradient.mh-bgimage-yes:before{
    background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
    opacity: 0.5;
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient:not(.mh-bgimage-yes) .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bg-image-over-color .elementor-widget-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient:not(.mh-col-stretched-yes) > .elementor-widget-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient:not(.mh-bgimage-yes) .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bg-image-over-color .elementor-column-wrap > .mh-stretched-div,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient:not(.mh-col-stretched-yes) > .elementor-column-wrap,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bg-image-over-color:not(.mh-col-stretched-yes) > .elementor-column-wrap{
    background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-widget-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient .elementor-widget-wrap .mh-bgimage-yes.mh-stretched-div:before,

.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bgimage-yes:not(.mh-col-stretched-yes) > .elementor-column-wrap:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient.mh-bgimage-yes:not(.mh-bg-image-over-color) .elementor-column-wrap .mh-stretched-div:before,
.elementor-column.elementor-top-column.mh-elementor-bg-color-gradient .elementor-column-wrap .mh-bgimage-yes.mh-stretched-div:before{
    background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 80%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
    opacity: 0.5;
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.mh-elementor-bg-color-gradient{
    background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.mh-elementor-bg-color-gradient:not(.mh-bg-image-over-color):before{
    background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
    opacity: 0.5;
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.mh-elementor-bg-color-gradient > div.elementor-column-wrap,
.elementor-inner-column.mh-elementor-bg-color-gradient > div.elementor-widget-wrap{
	background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.mh-elementor-bg-color-gradient:not(.mh-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.mh-elementor-bg-color-gradient:not(.mh-bg-image-over-color) > div.elementor-widget-wrap:before{
    background-image: -ms-linear-gradient(right, var(--mh-colza-gradient-color-first) 0%, var(--mh-colza-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--mh-colza-gradient-color-first) , var(--mh-colza-gradient-color-last) );
}


/*====== End --- Row Colum - Gradient BG Color ======*/

























