@import "../../bootstrap-loader";

.elementor-widget-tm-ele-moving-text {
  font-size: 28px;
  font-weight: 500;
  text-align: var(--alignment, left);
  letter-spacing: 0.3em;
  .tm-moving-text {
    transform: rotate(var(--rotate, 0));
    > svg {
      width: var(--width);
      height: auto;
      overflow: visible;
      word-spacing: var(--word-spacing);
      transform: scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
      path {
        vector-effect: non-scaling-stroke;
        fill: var(--path-fill, transparent);
        stroke: var(--stroke-color, transparent);
        stroke-width: var(--stroke-width, 1px);
        transition: var(--stroke-transition) stroke, var(--stroke-transition) fill;
      }
      &:hover {
        path {
          --path-fill: var(--path-fill-hover);
          --stroke-color: var(--stroke-color-hover);
          --stroke-width: var(--stroke-width-hover);
        }
      }
      text {
        fill: var(--bili-primary-color);
        transition: var(--transition) stroke, var(--transition) stroke-width, var(--transition) fill;
        &:hover {
          fill: var(--bili-primary-color);
        }
      }
    }
  }
  .tm-moving-text[data-type-svg="mascot_line_simple"] {
    overflow: hidden;
  }
  .tm-moving-text.rotate_circle {
    svg {
      animation-name: wgl-rotation;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  .simple_line {
    white-space: nowrap;
    width: var(--width);
    margin: 0 auto;
    .text--word {
      display: inline-block;
      .text {
        word-spacing: var(--word-spacing);
        transition: all var(--transition);
      }
    }
    .divider {
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
  }
}
