@import "../../bootstrap-loader";
.mh-info-box-skin8 {
  position: relative;
  margin-bottom: 30px;
  filter: drop-shadow(10px 0 60px rgba(42, 45, 59, 0.1));
  .info-box-wrapper {
    background-color: var(--theme-color-white);
    padding: 60px 45px;
    position: relative;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    position: relative;
    @include transition(all 0.5s ease-in-out);
    .bottom-circle {
      position: absolute;
      left: 0;
      bottom: -90px;
      width: 100%;
      height: 95px;
      border-radius: 8px;
      background: #ffffff;
      opacity: 0.1;
      z-index: 0;
      @include transition(all 0.5s ease 0.2s);
      transform: skewY(10deg);
    }
    .icon-wrapper {
      position: relative;
      color: var(--theme-color1);
      font-size: 64px;
      line-height: 1em;
      margin-bottom: 20px;
      @include transition(all 0.3s ease-in-out);
    }
    .title {
      a {
      }
    }
    &::after {
      position: absolute;
      content: "";
      height: 75px;
      width: 75px;
      background: #a1a1a1;
      border-radius: 50%;
      top: 37px;
      left: 64px;
      opacity: 0.12;
      z-index: -1;
      @include transition(all 0.5s ease-in-out);
    }
    &:before {
      position: absolute;
      content: "";
      height: 75px;
      width: 75px;
      background: #a1a1a1;
      opacity: 0.08;
      top: 62px;
      left: 80px;
      border-radius: 50%;
      z-index: -1;
      @include transition(all 0.5s ease 0.2s);
    }
    &:hover {
      background: var(--theme-color1);
      &:after {
        background: #fff;
        transform: scaleX(-1);
      }
      &:before {
        background: #fff;
        transform: scaleX(-1);
      }
      .bottom-circle {
        width: 100%;
        bottom: -60px;
      }
      .icon-wrapper {
        color: #fff;
      }
      .title {
        color: #ffffff;
        a {
          color: #ffffff;
        }
      }
      .text {
        color: #fff;
      }
    }
  }
  .text {
    position: relative;
    display: block;
    z-index: 1;
  }
  .link-box {
    position: absolute;
    right: 3px;
    bottom: 8px;
    width: 30px;
    height: 30px;
    z-index: 1;
    a {
      position: relative;
      line-height: 30px;
      font-size: 20px;
      color: #ffffff;
    }
  }
  .btn-plain-text-with-arrow {
    color: var(--headings-color);
    font-size: 1rem;
    padding: 0;
    border: 0;
    text-transform: capitalize;
    &:before {
      color: var(--headings-color);
      display: inline-block;
      content: "\f35a";
      font-family: "Font Awesome 5 Free";
      font-size: 16px;
      font-variant: normal;
      font-weight: 600;
      line-height: 1;
      margin-right: 8px;
      position: relative;
      text-shadow: none;
      text-transform: none;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &::before {
        color: var(--theme-color2);
        transform: rotateX(180deg);
        -webkit-animation: moveArrow 1s;
        -moz-animation: moveArrow 1s;
        animation: moveArrow 1s;
      }
    }
  }
}
