@import "../../bootstrap-loader";
.tm-info-box-skin6 {
  position: relative;
  margin-bottom: 30px;
  .info-box-wrapper {
    position: relative;
    display: block;
    padding: 55px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 10px 40px 0px rgba(22, 32, 60, 0.08);
    @include transition(all 500ms ease);
    .icon-wrapper {
      position: relative;
      color: #232226;
      font-size: 64px;
      line-height: 1em;
      margin-bottom: 20px;
      z-index: 1;
      @include transition(all 0.5s ease-in-out);
      .info-text {
        .title {
          margin: 20px 0 30px;
        }
      }
      &:before {
        background-color: var(--theme-color1);
        border-radius: 50%;
        content: "";
        height: 58px;
        left: 30px;
        position: absolute;
        top: 15px;
        width: 58px;
        z-index: -1;
        @include transition(all 0.5s ease-in-out);
      }
      &:after {
        background-color: #232226;
        border-radius: 50%;
        content: "";
        height: 15px;
        left: 70px;
        position: absolute;
        top: 15px;
        width: 15px;
        z-index: -1;
        @include transition(all 0.5s ease-in-out);
      }
    }
    .title {
      a {
      }
    }
    &:after {
      content: "";
      background: var(--theme-color1);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0.4;
      z-index: -1;
      transform: translate(0, 0);
      transition: 500ms;
    }
    &:hover {
      background: var(--theme-color1);
      .icon-wrapper {
        &:before {
          background-color: #fff;
          transform: scaleX(-1);
        }
      }
      .title {
        color: #ffffff;
        position: relative;
        z-index: 1;
        @include transition(all 500ms ease);
        a {
          color: #ffffff;
        }
      }
      .text {
        color: #fff;
        position: relative;
        z-index: 1;
      }
      &:after {
        height: 100%;
        top: 0;
        transform: translate(12px, 12px);
        z-index: 0;
      }
    }
  }
}
