.mh-elementor-widget-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(../images/admin-menu/dashicons-shadhin.png) !important;
}
.mh-elementor-widget-badge {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/admin-menu/dashicons-shadhin-small.png) !important;
    margin-right: 5px;
    vertical-align: bottom;
}
