//
// variables
// --------------------------------------------------

//desktop
$ele-breakpoint-desktop-min: 1025px;

//laptop
$ele-breakpoint-laptop-max: 1366px;
$ele-breakpoint-laptop-min: 1201px;

//tab-extra
$ele-breakpoint-tab-extra-max: 1200px;
$ele-breakpoint-tab-extra-min: 1025px;

//tab
$ele-breakpoint-tablet-max: 1024px;
$ele-breakpoint-tablet-min: 768px;

//mobile-extra
$ele-breakpoint-mobile-extra-max: 880px;
$ele-breakpoint-mobile-extra-min: 768px;

//mobile
$ele-breakpoint-mobile-max: 767px;

$gray-dimgray: #696969;
$gray-light: #777;
$gray-base: #808080;

$gray-darkgray: #a9a9a9;
$gray-bbb: #bbb;
$gray-silver: #c0c0c0;
$gray-lightgray: #d3d3d3;
$gray-gainsboro: #dcdcdc;
$gray-silver-light: #f6f6f6;

$gray-lighter: #eee;
$gray-silver-text-color: #9b9ea8;
