@import "../../bootstrap-loader";
@import "testimonial-common";

.tm-sc-testimonials {
  .testimonial-block-style5 {
    .inner-box {
      padding: 40px;
      text-align: center;
      .icon-box {
        width: 114px;
        height: 114px;
        line-height: 114px;
        display: inline-block;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        .icon {
          font-size: 114px;
          color: #fff;
        }
      }
      .star-rating {
        left: 0;
        right: 0;
        margin: 0 auto 30px;
        font-size: 24px;
        span {
          &:before {
            color: var(--theme-color1);
            font-weight: 600;
          }
        }
      }
      .author-text {
        font-size: 24px;
        font-weight: 400;
        font-style: italic;
        font-family: var(--heading-font-family);
        line-height: 34px;
        color: #fff;
        @include media-breakpoint-down(sm) {
          font-size: 22px;
        }
      }
      .info-box {
        margin-top: 30px;
        .user-thumb {
          max-width: 75px;
          margin: 0 auto;
          border-radius: 50%;
          padding: 3px;
          border: 2px solid #ffaa17;
          margin-bottom: 10px;
          img {
            border-radius: 50%;
          }
          .user {
            max-width: 65px;
            border-radius: 50%;
            border: 5px solid #fff;
          }
        }
        .testimonial-name {
          font-size: 18px;
          font-weight: 400;
          color: #fff;
          text-transform: capitalize;
          margin-bottom: 0;
        }
        .testimonial-position {
          font-size: 12px;
          font-weight: 400;
          color: #666;
          text-transform: uppercase;
          display: block;
        }
      }
    }
  }
}
