@import "../../bootstrap-loader";
@import "project-skin-common";

.projects-current-theme4 {
  .inner-block {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    @include transition(all 300ms ease);
    &:hover {
      .image {
        img {
          &:first-child {
            transform: translateX(0) scaleX(1);
            opacity: 1;
            filter: blur(0);
          }
          &:nth-child(2) {
            transform: translateX(-50%) scaleX(2);
            opacity: 0;
            filter: blur(10px);
          }
        }
      }
      .content {
        bottom: 0;
      }
    }
    .image {
      border-radius: 0;
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      img {
        border-radius: 0;
        position: relative;
        width: 100%;
        display: block;
        border-radius: 15px;
        @include transition(all 500ms ease);
        &:first-child {
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          z-index: 1;
          transform: translateX(50%) scaleX(2);
          opacity: 0;
          border-radius: 15px;
          filter: blur(10px);
        }
      }
    }
    .content {
      background: linear-gradient(
        180deg,
        rgba(15, 53, 45, 0.16) -6.25%,
        rgba(18, 66, 56, 0.14) 100%
      );
      backdrop-filter: blur(60px);
      position: absolute;
      bottom: -100%;
      left: 0;
      right: 0;
      z-index: 1;
      border-radius: 15px;
      padding: 30px 50px 29px;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(sm) {
        padding: 30px 15px 23px;
      }
      .categories-box {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: inline-flex;
        gap: 7px;
        margin-bottom: 12px;
        min-width: 285px;
        li {
          color: #ffffff;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -2%;
          list-style-type: none;
          margin-right: 12px;
          margin-bottom: 11px;
          @include transition(all 300ms ease);
          @include media-breakpoint-down(sm) {
            display: inline-block;
            margin-right: 7px;
            margin-bottom: 7px;
          }
          &:hover {
            color: var(--theme-color-white);
          }
          &:last-child {
            @include media-breakpoint-down(sm) {
              margin-right: 0px;
            }
          }
        }
        span {
          display: none;
        }
      }
      .title {
        color: #fff;
        margin-bottom: 3px;
        margin-top: 0;
        &:hover {
          color: var(--theme-color1);
        }
      }
    }
  }
}
