@import "../../bootstrap-loader";
@import "project-skin-common";
.projects-current-theme3 {
  .inner-box {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
    min-height: 636px;
    display: flex;
    align-items: self-end;
    z-index: 1;
    @include transition(all 300ms ease);
    @media (max-width: 1024.98px) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      min-height: 470px;
    }
    @include media-breakpoint-down(md) {
      min-height: 500px;
    }
    &:hover,
    &.active {
      background: linear-gradient(90deg, rgba(224, 222, 222, 0.2) 0%, rgba(200, 200, 200, 0.2) 102.17%);
      backdrop-filter: blur(40px);
      .content {
        @include transform(translateY(0px));
        .btn-box {
          @include transform(translateY(0px));
        }
      }
    }
  }
  .content {
    position: relative;
    padding: 43px 50px 47px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    @include transform(translateY(105px));
    @include transition(all 300ms ease);
    @include media-breakpoint-down(xxl) {
      padding: 43px 35px 35px;
    }
    @include media-breakpoint-down(xl) {
      padding: 43px 20px 35px;
    }
    .cat-list {
      margin-bottom: 15px;
      li {
        color: #ffffff;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        padding: 10px 15px 10px 15px;
        list-style: none;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        display: none;
        &:first-child {
          display: inline-block;
        }
        span {
          display: none;
        }
      }
    }
    .title {
      color: var(--theme-color-white);
      margin-bottom: 41px;
      margin-top: 0;
      @include transition(all 300ms ease);
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    .excerpt {
      color: rgba(var(--theme-color-white-rgb), 0.65);
      display: none;
      height: 0;
      opacity: 0;
      @include transition(all 300ms ease);
    }
    .btn-box {
      padding-bottom: 12px;
      margin-top: 30px;
      margin-bottom: 0;
      opacity: 1;
      @include transform(translateY(10px));
      @include transition(all 300ms ease);
      .btn-style2 {
      }
    }
  }
}

[data-widget_type="mh-ele-cpt-projects.skin-style-current-theme3"] {
  .mh-sc-projects {
    overflow: hidden;
    position: relative;
    margin-right: -1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
    &::before {
      background: linear-gradient(180deg, rgba(69, 48, 48, 0.1) 28.72%, #151515 74.38%);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}
