@import "../../bootstrap-loader";

.tm-sc-hero-slider {
  .slider-content {
    position: relative;
    max-width: 700px;
    z-index: 1;
  }
  .hero-slider-item {
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(xl) {
      min-height: 850px;
      padding: 300px 0 200px;
    }
    @include media-breakpoint-up(lg) {
      padding: 200px 0 130px;
    }
    @include media-breakpoint-up(md) {
      padding: 200px 0 120px;
    }
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.55);
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      z-index: -1;
    }
    &:after {
      content: "";
      background: rgba(26, 18, 75, 0.76);
      filter: blur(100px);
      transform: rotate(-49.54deg);
      width: 1161.78px;
      height: 1211.22px;
      position: absolute;
      top: 0;
      left: -150px;
      z-index: -1;
    }
  }
  .slider-subtitle {
    color: var(--theme-color3);
    margin-bottom: 10px;
    display: inline-block;
  }
  .slider-title {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 64px;
  }
  .slider-details {
    color: #c5c5c5;
    margin-bottom: 30px;
  }

  .tm-parts-thumbnail {
    padding: 20px 12px 0;
    @include media-breakpoint-up(lg) {
      width: 600px;
      position: absolute;
      bottom: 60px;
      right: 60px;
    }
    .thumb-item {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      height: 135px;
      background-color: rgba(0, 0, 0, 0.55);
      .thumb-inner {
        position: relative;
        z-index: 1;
        img {
          object-fit: cover;
          width: 100%;
          height: 135px;
          filter: grayscale(100%);
        }
        &:before {
          content: "";
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.55);
          position: absolute;
          bottom: 0;
          left: 0;
          top: 0;
          right: 0;
          z-index: 1;
        }
        &:after {
          content: "";
          background: rgba(26, 18, 75, 0.76);
          filter: blur(100px);
          transform: rotate(-49.54deg);
          width: 1161.78px;
          height: 1211.22px;
          position: absolute;
          top: 0;
          left: -150px;
          z-index: 0;
        }
      }
      .title {
        color: #fff;
        position: absolute;
        bottom: 30px;
        left: 30px;
        margin-bottom: 0;
        z-index: 1;
      }
    }
    .swiper-slide-thumb-active {
      .thumb-item {
        .thumb-inner {
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
  &.animation-yes {
    .swiper-slide {
      display: block;
      overflow: hidden;
      perspective: 800px;
      .slider-subtitle {
        transform: translateY(70px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
      }
      .slider-title {
        transform: translateY(70px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
      }
      .slider-details {
        transform: translateY(70px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
      }
      .slider-btn-area {
        transform: translateY(70px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
    .swiper-slide.swiper-slide-active {
      .slider-subtitle {
        transform: translateY(0);
        transition-delay: 0.5s;
        opacity: 1;
        visibility: visible;
      }
      .slider-title {
        transform: translateY(0);
        transition-delay: 0.7s;
        opacity: 1;
        visibility: visible;
      }
      .slider-details {
        transform: translateY(0);
        transition-delay: 0.9s;
        opacity: 1;
        visibility: visible;
      }
      .slider-btn-area {
        transform: translateY(0);
        transition-delay: 1s;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .swiper-navigation {
    transition: all 520ms ease;
    .swiper-button {
      border: 0;
      background-color: #ffffff;
      &:before {
        display: none;
      }
      i {
        color: var(--rt-title-color);
        transition: all 520ms ease;
      }
      &:hover {
        background-color: var(--rt-primary-color);
        i {
          color: var(--rt-title-color);
        }
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      position: relative;
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      text-align: left;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #ffffff;
      height: 12px;
      width: 12px;
    }
  }
  .tm-swiper-arrow-wrap {
    .tm-swiper-button-prev,
    .tm-swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      color: #fff;
      font-size: 24px;
    }

    .tm-swiper-button-prev {
      left: 20px;
    }

    .tm-swiper-button-next {
      right: 20px;
    }
    .tm-swiper-arrow {
      cursor: pointer;
      background-color: rgba(211, 211, 211, 0.2);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: all 0.3s ease;
      -khtml-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      box-shadow: 0 1px 72px 0 rgba(0, 0, 0, 0.14);

      i {
        color: #ff;
        font-size: 16px;
        -webkit-transition: all 0.3s ease;
        -khtml-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:before {
          position: relative;
          top: 1px;
        }
      }

      &:hover,
      &:active {
        background-color: var(--theme-color1);
        i {
          color: var(--theme-color1-text-color);
        }
      }
    }
  }
}
