.mh-accordion .card {
  margin-bottom: 10px;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.mh-accordion .card .card-header {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.mh-accordion .card .card-header:hover {
  cursor: pointer;
}
.mh-accordion .card .card-header .title {
  margin: 0;
  padding: 15px 0px 25px 0px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  background-color: transparent;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.mh-accordion .card .card-header .title .accordion-controls-icon {
  flex-shrink: 0;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.mh-accordion .card .card-header .title:not(.collapsed) {
  background-color: transparent;
  border-bottom-color: transparent;
  padding-bottom: 0;
}
.mh-accordion .card .card-header .title:not(.collapsed) .accordion-controls-icon {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.mh-accordion .card .card-body {
  padding: 1rem 0 1rem 1.5rem;
  border-bottom: 1px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
}
.mh-accordion .card:last-child {
  margin-bottom: 0;
}
.mh-accordion.icon-round-border .card .card-header .title .accordion-controls-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mh-accordion.skin-basic .card {
  margin-bottom: 25px;
}
.mh-accordion.skin-basic .card .card-header .title {
  padding: 0;
  border: 0;
}
.mh-accordion.skin-basic .card .card-header .title .accordion-controls-icon {
  display: none;
}
.mh-accordion.skin-basic .card .card-header .title:not(.collapsed) {
  text-decoration: underline;
}
.mh-accordion.skin-basic .card .card-body {
  border: 0;
  padding-bottom: 0;
}
.mh-accordion.skin-classic .card {
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.1);
}
.mh-accordion.skin-classic .card .card-header .title {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0;
  background-color: #fff;
  border: 0;
}
.mh-accordion.skin-classic .card .card-header .title:not(.collapsed) {
  background-color: #fafafc;
}
.mh-accordion.skin-classic .card .card-body {
  padding: 1rem 1.5rem;
  border: 0;
}
.mh-accordion.skin-gradient .card {
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.1);
}
.mh-accordion.skin-gradient .card .card-header .title {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0;
  background-color: #fff;
  border: 0;
}
.mh-accordion.skin-gradient .card .card-header .title:not(.collapsed) {
  background: linear-gradient(0deg, rgba(var(--theme-color1-rgb), 1) 0%, var(--theme-color1-lighter) 100%);
  color: var(--theme-color1-text-color);
}
.mh-accordion.skin-gradient .card .card-body {
  padding: 1rem 1.5rem;
  border: 0;
}
.mh-accordion.skin-active-light .card {
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.15);
}
.mh-accordion.skin-active-light .card .card-header .title {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0;
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}
.mh-accordion.skin-active-light .card .card-header .title:not(.collapsed) {
  color: var(--headings-color);
  background-color: #fff;
}
.mh-accordion.skin-active-light .card .card-body {
  padding: 1rem 1.5rem;
}
.mh-accordion.skin-bordered .card {
  margin-bottom: 0;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  border-bottom: 0;
}
.mh-accordion.skin-bordered .card .card-header .title {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0;
  border-bottom: 0;
}
.mh-accordion.skin-bordered .card .card-body {
  padding: 0 1.5rem 1rem;
  border-bottom: 0;
}
.mh-accordion.skin-bordered .card:last-child {
  border-bottom: 1px solid #e1e1e1;
}
.mh-accordion.skin-bordered2 .card {
  margin-bottom: 0;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  border-bottom: 0;
}
.mh-accordion.skin-bordered2 .card .card-header .title {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0;
  border-bottom: 0;
}
.mh-accordion.skin-bordered2 .card .card-header .title:not(.collapsed) {
  color: var(--theme-color1-text-color);
}
.mh-accordion.skin-bordered2 .card .card-body {
  padding: 0 1.5rem 1rem;
  border-bottom: 0;
}
.mh-accordion.skin-bordered2 .card:last-child {
  border-bottom: 1px solid #e1e1e1;
}
.mh-accordion.skin-bordered2 .card.active {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}