.tm-bg-angle-left-right:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1;
}

@media (max-width: 1200px) {
  .elementor-hide-under-1201 .tm-bg-angle-left-right:after {
    display: none;
  }
}