.elementor-editor-active .elementor-widget-mh-ele-blank-box {
  min-height: 30px;
  background-color: #cb9494;
}

.mh-ele-blank-box > .each-object {
  position: relative;
  width: 200px;
  height: 200px;
}
.mh-ele-blank-box > .each-object:after {
  content: "";
  position: absolute;
  background-color: #eee;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}