/*
 * Shortcode: funfacts.scss
 * -----------------------------------------------
*/
.mh-sc-funfact {
  transition: all 0.3s ease;
  position: relative;
}
.mh-sc-funfact .funfact-inner .funfact-icon {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.mh-sc-funfact .funfact-inner .funfact-icon i {
  font-size: 45px;
  transition: all 0.3s ease-in-out;
}
.mh-sc-funfact .funfact-inner .funfact-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
}
.mh-sc-funfact .funfact-inner .counter {
  margin-top: 0;
  transition: all 0.3s ease;
}
.mh-sc-funfact .funfact-inner .counter .animate-number {
  line-height: 1;
}
.mh-sc-funfact .funfact-inner .subtitle {
  margin-bottom: 0;
  transition: all 0.3s ease;
}
.mh-sc-funfact .funfact-inner .title {
  transition: all 0.3s ease;
}
.mh-sc-funfact .funfact-inner.funfact-lefticon .details {
  margin-left: 60px;
}
.mh-sc-funfact.funfact-number-behind-text .counter {
  position: absolute;
  font-size: 100px;
  line-height: 0.8;
  text-transform: uppercase;
  color: #ebeced;
  left: 0;
  right: 0;
}
.mh-sc-funfact.funfact-number-behind-text .title-wrapper {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}
.mh-sc-funfact.funfact-iconleft .element-left {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .mh-sc-funfact.funfact-iconright .funfact-inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .mh-sc-funfact.funfact-iconright .element-right {
    margin-left: 2rem;
  }
  .mh-sc-funfact.funfact-iconright .details {
    text-align: right;
  }
}
@media (max-width: 767.98px) {
  .mh-sc-funfact.funfact-iconright {
    text-align: center;
  }
}
.mh-sc-funfact.mh-animate-hover:hover.icon-rotate .funfact-icon {
  transform: rotate(360deg);
}
.mh-sc-funfact.mh-animate-hover:hover.icon-rotate-x .funfact-icon {
  transform: rotateX(360deg);
}
.mh-sc-funfact.mh-animate-hover:hover.icon-rotate-y .funfact-icon {
  transform: rotateY(180deg);
}
.mh-sc-funfact.mh-animate-hover:hover.icon-translate .funfact-icon {
  transform: translate(-10px, 10px);
}
.mh-sc-funfact.mh-animate-hover:hover.icon-translate-x .funfact-icon {
  transform: translateX(-10px);
}
.mh-sc-funfact.mh-animate-hover:hover.icon-translate-y .funfact-icon {
  transform: translateY(-10px);
}
.mh-sc-funfact.mh-animate-hover:hover.icon-scale .funfact-icon {
  transform: scale(1.1);
}
@media (max-width: 991.98px) {
  .mh-sc-funfact.funfact-centered-in-responsive-tablet.funfact-iconleft {
    text-align: center;
  }
  .mh-sc-funfact.funfact-centered-in-responsive-tablet.funfact-iconleft .element-left {
    float: none;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .mh-sc-funfact.funfact-centered-in-responsive-tablet.funfact-iconleft .element-left .funfact-icon {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .mh-sc-funfact.funfact-centered-in-responsive-mobile.funfact-iconleft {
    text-align: center;
  }
  .mh-sc-funfact.funfact-centered-in-responsive-mobile.funfact-iconleft .element-left {
    float: none;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .mh-sc-funfact.funfact-centered-in-responsive-mobile.funfact-iconleft .element-left .funfact-icon {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .funfact-horizontal .funfact-inner {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .funfact-horizontal .funfact-inner .icon-wrapper {
    float: left;
    margin-right: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .funfact-horizontal .funfact-inner .icon-wrapper {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .funfact-horizontal .funfact-inner .details-wrapper {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .funfact-horizontal .funfact-inner .details-wrapper .counter-wrapper {
    margin-right: 1.5rem;
  }
}