/*
 * Shortcode: list.scss
 * -----------------------------------------------
*/
.mh-sc-list {
  list-style: none;
  transition: all 0.3s ease;
}
.mh-sc-list li {
  transition: all 0.3s ease;
}
.mh-sc-list li i,
.mh-sc-list li svg {
  margin-left: 5px;
}
.mh-sc-list li svg {
  width: 16px;
}
.mh-sc-list li i {
  transition: all 0.3s ease;
}
.mh-sc-list.mh-animate-hover.icon-rotate li:hover i {
  transform: rotate(-360deg);
}
.mh-sc-list.mh-animate-hover.icon-rotate-x li:hover i {
  transform: rotateX(360deg);
}
.mh-sc-list.mh-animate-hover.icon-rotate-y li:hover i {
  transform: rotateY(-180deg);
}
.mh-sc-list.mh-animate-hover.icon-translate li:hover i {
  transform: translate(10px, 10px);
}
.mh-sc-list.mh-animate-hover.icon-translate-x li:hover i {
  transform: translateX(10px);
}
.mh-sc-list.mh-animate-hover.icon-translate-y li:hover i {
  transform: translateY(-10px);
}
.mh-sc-list.mh-animate-hover.icon-scale li:hover i {
  transform: scale(1.1);
}