/*
 * Shortcode: list.scss
 * -----------------------------------------------
*/
.tm-sc-list {
  list-style: none;
  transition: all 0.3s ease;
}
.tm-sc-list li {
  transition: all 0.3s ease;
}
.tm-sc-list li i,
.tm-sc-list li svg {
  margin-right: 5px;
}
.tm-sc-list li svg {
  width: 16px;
}
.tm-sc-list li i {
  transition: all 0.3s ease;
}
.tm-sc-list.tm-animate-hover.icon-rotate li:hover i {
  transform: rotate(360deg);
}
.tm-sc-list.tm-animate-hover.icon-rotate-x li:hover i {
  transform: rotateX(360deg);
}
.tm-sc-list.tm-animate-hover.icon-rotate-y li:hover i {
  transform: rotateY(180deg);
}
.tm-sc-list.tm-animate-hover.icon-translate li:hover i {
  transform: translate(-10px, 10px);
}
.tm-sc-list.tm-animate-hover.icon-translate-x li:hover i {
  transform: translateX(-10px);
}
.tm-sc-list.tm-animate-hover.icon-translate-y li:hover i {
  transform: translateY(-10px);
}
.tm-sc-list.tm-animate-hover.icon-scale li:hover i {
  transform: scale(1.1);
}