.mh-mc4wp-newsletter {
  /*flat*/
  /*form-style-classic*/
  /*form-style-default*/
  /*form-style-round*/
  /*form-style-btn-absolute*/
}
.mh-mc4wp-newsletter p {
  display: none;
}
.mh-mc4wp-newsletter svg {
  width: 1em;
  height: 1em;
}
.mh-mc4wp-newsletter input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #868686;
}
.mh-mc4wp-newsletter .mc4wp-form-fields {
  display: flex;
  margin: auto;
  position: relative;
}
.mh-mc4wp-newsletter input[name=EMAIL] {
  width: 370px;
  max-width: 100%;
}
.mh-mc4wp-newsletter [type=submit] {
  width: 170px;
}
@media (max-width: 767px) {
  .mh-mc4wp-newsletter input[name=EMAIL] {
    width: 100%;
  }
}
.mh-mc4wp-newsletter.form-style-flat input[name=EMAIL] {
  background-color: transparent;
  fill: #000;
  color: #000;
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #000;
  padding: 0 0;
  margin: 0 0 0 10px;
}
.mh-mc4wp-newsletter.form-style-flat input[name=EMAIL]::placeholder {
  color: #000;
  opacity: 1;
}
.mh-mc4wp-newsletter.form-style-flat input[type=submit],
.mh-mc4wp-newsletter.form-style-flat button[type=submit] {
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #000;
  text-transform: uppercase;
  width: 80px;
  padding: 0 0;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .mh-mc4wp-newsletter.form-style-flat .mc4wp-form-fields {
    flex-direction: column;
  }
  .mh-mc4wp-newsletter.form-style-flat input[name=EMAIL] {
    margin: 0 0 15px 0;
  }
}
.mh-mc4wp-newsletter.form-style-classic input[name=EMAIL] {
  padding: 17px 30px;
  width: 100%;
  border: none;
  background-color: var(--theme-color2);
  color: var(--theme-color2-text-color);
  border: 1px solid transparent;
}
.mh-mc4wp-newsletter.form-style-classic input[type=submit],
.mh-mc4wp-newsletter.form-style-classic button[type=submit] {
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  transition: ease 0.3s;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-right: 0;
  padding: 0 35px;
  background-color: var(--theme-color1);
  color: var(--theme-color1-text-color);
}
.mh-mc4wp-newsletter.form-style-classic input[type=submit]:hover,
.mh-mc4wp-newsletter.form-style-classic button[type=submit]:hover {
  background-color: var(--theme-color3);
  color: var(--theme-color3-text-color);
}
@media (max-width: 767px) {
  .mh-mc4wp-newsletter.form-style-classic .mc4wp-form-fields {
    flex-direction: column;
  }
  .mh-mc4wp-newsletter.form-style-classic input[name=EMAIL] {
    margin: 0 0 15px 0;
  }
  .mh-mc4wp-newsletter.form-style-classic input[type=submit] {
    padding: 7px 35px;
    width: 100%;
  }
  .mh-mc4wp-newsletter.form-style-classic button[type=submit] {
    padding: 7px 35px;
    width: 100%;
  }
}
.mh-mc4wp-newsletter.form-style-default input[name=EMAIL] {
  padding: 17px 30px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px 3px 3px 0px;
  border-color: var(--theme-color1);
}
.mh-mc4wp-newsletter.form-style-default input[type=submit],
.mh-mc4wp-newsletter.form-style-default button[type=submit] {
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  transition: ease 0.3s;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-right: 0;
  padding: 0 35px;
  background-color: var(--theme-color1);
  color: var(--theme-color1-text-color);
}
.mh-mc4wp-newsletter.form-style-default input[type=submit]:hover,
.mh-mc4wp-newsletter.form-style-default button[type=submit]:hover {
  background-color: var(--theme-color3);
  color: var(--theme-color3-text-color);
}
@media (max-width: 767px) {
  .mh-mc4wp-newsletter.form-style-default .mc4wp-form-fields {
    flex-direction: column;
  }
  .mh-mc4wp-newsletter.form-style-default input[name=EMAIL] {
    margin: 0 0 15px 0;
    border-left-width: 3px;
  }
  .mh-mc4wp-newsletter.form-style-default input[type=submit] {
    padding: 7px 35px;
    width: 100%;
  }
  .mh-mc4wp-newsletter.form-style-default button[type=submit] {
    padding: 7px 35px;
    width: 100%;
  }
}
.mh-mc4wp-newsletter.form-style-round input[name=EMAIL] {
  padding: 17px 30px;
  width: 100%;
  border: none;
  background-color: var(--theme-color2);
  color: var(--theme-color2-text-color);
  border: 1px solid transparent;
  border-radius: 60px;
  margin-left: 10px;
}
.mh-mc4wp-newsletter.form-style-round input[type=submit],
.mh-mc4wp-newsletter.form-style-round button[type=submit] {
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  transition: ease 0.3s;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-right: 0;
  padding: 0 35px;
  border-radius: 60px;
  background-color: var(--theme-color1);
  color: var(--theme-color1-text-color);
}
.mh-mc4wp-newsletter.form-style-round input[type=submit]:hover,
.mh-mc4wp-newsletter.form-style-round button[type=submit]:hover {
  background-color: var(--theme-color3);
  color: var(--theme-color3-text-color);
}
@media (max-width: 767px) {
  .mh-mc4wp-newsletter.form-style-round .mc4wp-form-fields {
    flex-direction: column;
  }
  .mh-mc4wp-newsletter.form-style-round input[name=EMAIL] {
    margin: 0 0 15px 0;
  }
  .mh-mc4wp-newsletter.form-style-round input[type=submit] {
    padding: 7px 35px;
    width: 100%;
  }
  .mh-mc4wp-newsletter.form-style-round button[type=submit] {
    padding: 7px 35px;
    width: 100%;
  }
}
.mh-mc4wp-newsletter.form-style-btn-absolute .mc4wp-form-fields {
  max-width: initial;
  margin: 0;
}
.mh-mc4wp-newsletter.form-style-btn-absolute input[name=EMAIL] {
  padding: 17px 30px;
  width: 100%;
  border: none;
  background-color: var(--theme-color2);
  color: var(--theme-color2-text-color);
  border: 1px solid transparent;
}
.mh-mc4wp-newsletter.form-style-btn-absolute input[type=submit],
.mh-mc4wp-newsletter.form-style-btn-absolute button[type=submit] {
  border-radius: 7px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-right: 0;
  padding: 0 35px;
  background-color: var(--theme-color1);
  color: var(--theme-color1-text-color);
}
.mh-mc4wp-newsletter.form-style-btn-absolute input[type=submit]:hover,
.mh-mc4wp-newsletter.form-style-btn-absolute button[type=submit]:hover {
  background-color: var(--theme-color3);
  color: var(--theme-color3-text-color);
}
@media (max-width: 767px) {
  .mh-mc4wp-newsletter.form-style-btn-absolute .mc4wp-form-fields {
    flex-direction: column;
  }
  .mh-mc4wp-newsletter.form-style-btn-absolute input[name=EMAIL] {
    margin: 0 0 15px 0;
  }
  .mh-mc4wp-newsletter.form-style-btn-absolute input[type=submit],
.mh-mc4wp-newsletter.form-style-btn-absolute button[type=submit] {
    padding: 7px 35px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .mh-mc4wp-newsletter.form-style-btn-absolute input[type=submit],
.mh-mc4wp-newsletter.form-style-btn-absolute button[type=submit] {
    position: absolute;
    left: 10px;
    top: 8px;
    bottom: 8px;
  }
}