@import "../bootstrap-loader";

// Country Block Current Style1
.country-block-current-item-style1 {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.07);
  .inner-box {
    position: relative;
    text-align: center;
    @include transition(all 300ms ease);
    .image-box {
      position: relative;
    }
    .image {
      position: relative;
      overflow: hidden;
      margin-bottom: 0px;
      img {
        width: 100%;
        @include transition(all 300ms ease);
      }
    }
    .content-box {
      position: relative;
      padding: 0 40px 35px;
      z-index: 0;
      @include transition(all 600ms ease);
      &::before {
        position: absolute;
        top: 25px;
        left: 0;
        height: 94px;
        width: 100%;
        overflow: hidden;
        clip-path: ellipse(60% 50% at 50% 50%);
        background: #ffffff;
        content: "";
        z-index: -1;
      }
      .flag {
        position: relative;
        display: block;
        margin: -48px auto 15px;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #ffffff;
        @include transition(all 300ms ease);
        z-index: 2;
        &:hover {
          background-color: var(--bg-theme-color1);
          color: var(--theme-color2);
        }
      }
      .feature-title {
        display: block;
        margin-top: 0px;
        margin-bottom: 8px;
        a:hover {
          color: var(--theme-color2);
        }
      }
    }
    &:hover {
      .image img {
        transform: scale(1.1);
      }
    }
  }
}
// Country Block Current Style2
.country-block-current-item-style2 {
  position: relative;
  .inner-box {
    position: relative;
    text-align: center;
    @include transition(all 300ms ease);
    .flag {
      position: relative;
      display: block;
      height: 125px;
      width: 125px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #ffffff;
      @include transition(all 300ms ease);
      margin: 0 auto -65px;
      z-index: 2;
      img {
        @include transition(all 300ms ease);
      }
      &:hover {
        background-color: var(--theme-color2);
        color: var(--theme-color1);
      }
    }
    .info {
      position: relative;
      background-color: #ffffff;
      padding: 80px 15px 25px;
      text-align: center;
      border-radius: 7px;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.08);
    }
    .feature-title {
      display: block;
      margin-top: 0;
      margin-bottom: 15px;
      a:hover {
        color: var(--theme-color1);
      }
    }
    &:hover {
      transform: translateY(-10px);
      .flag {
        transform: rotateY(180deg);
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
// Country Block Current Style2
.country-block-current-item-style3 {
  position: relative;
  margin-bottom: 30px;
  .inner-box {
    position: relative;
    background-color: #ffffff;
    padding: 33px 33px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    @include transition(all 300ms ease);
    .content {
      position: relative;
      padding-left: 75px;

      .flag {
        @include absolute;
        height: 57px;
        width: 57px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 0px;
        img {
          width: 100%;
          @include transition(all 300ms ease);
        }
      }
      .feature-title {
        display: block;
        margin-top: 0;
        margin-bottom: 8px;
        a:hover {
          color: var(--theme-color1);
        }
      }
      .feature-details {
        margin-bottom: 0;
      }
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      .flag img {
        transform: rotate(360deg);
      }
    }
  }
}
