@import "../../bootstrap-loader";
@import "skill-block-common";
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
@keyframes rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.skill-block-style1 {
  position: relative;
  .inner-box {
    position: relative;
    padding: 30px;
    max-width: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 190px;
    border-radius: 50%;
    background-color: var(--theme-color2);
    border: 1px solid rgba(51, 51, 51, 0.5);
    @include transition(all 300ms ease);
    &::after,
    &::before {
      content: " ";
      position: absolute;
      z-index: -1;
      inset: -0.4rem;
      background: conic-gradient(from var(--gradient-angle), var(--theme-color2), var(--theme-color1), var(--theme-color2));
      opacity: 0;
      transform: scale(0);
      visibility: hidden;
      border-radius: inherit;
      animation: rotate 2.5s linear infinite;
      @include transition(all 300ms ease);
    }
    &::after {
      filter: blur(1rem);
    }
    &.active,
    &:hover {
      &::after,
      &::before {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      .skill-title {
        color: var(--theme-color1);
      }
    }
    &:hover {
      img {
        @include transition(all 900ms ease);
        transform: rotateY(360deg);
      }
    }
  }
  .icon {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    img {
      @include transition(all 900ms ease);
    }
  }
  .skill-count {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 15px;
    @include transition(all 300ms ease);
  }
  .skill-title {
    color: #9d9d9d;
    @include transition(all 300ms ease);
    margin-bottom: 0;
  }
}
