@import "../bootstrap-loader";

.tm-mc4wp-newsletter {
  p {
    display: none;
  }
  svg {
    width: 1em;
    height: 1em;
  }
  input {
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #fff inset;
      -webkit-text-fill-color: #868686;
    }
  }
  .mc4wp-form-fields {
    display: flex;
    margin: auto;
    position: relative;
  }
  input[name="EMAIL"] {
    width: 370px;
    max-width: 100%;
  }
  [type="submit"] {
    width: 170px;
  }

  @media (max-width: $ele-breakpoint-mobile-max) {
    input[name="EMAIL"] {
      width: 100%;
    }
  }

  /*flat*/
  &.form-style-flat {
    input[name="EMAIL"] {
      background-color: transparent;
      fill: #000;
      color: #000;
      border-style: solid;
      border-width: 0 0 2px;
      border-color: #000;
      padding: 0 0;
      margin: 0 10px 0 0;
      &::placeholder {
        color: #000;
        opacity: 1;
      }
    }
    input[type="submit"],
    button[type="submit"] {
      background-color: transparent;
      border-style: solid;
      border-width: 0 0 2px;
      border-color: #000;
      text-transform: uppercase;
      width: 80px;
      padding: 0 0;
      margin: 0 auto;
    }
    @media (max-width: $ele-breakpoint-mobile-max) {
      .mc4wp-form-fields {
        flex-direction: column;
      }
      input[name="EMAIL"] {
        margin: 0 0 15px 0;
      }
    }
  }

  /*form-style-classic*/
  &.form-style-classic {
    input[name="EMAIL"] {
      padding: 17px 30px;
      width: 100%;
      border: none;
      background-color: var(--theme-color2);
      color: var(--theme-color2-text-color);
      border: 1px solid transparent;
    }
    input[type="submit"],
    button[type="submit"] {
      font-size: 16px;
      line-height: 50px;
      display: inline-block;
      text-align: center;
      transition: ease 0.3s;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;
      border: none;
      margin-left: 0;
      padding: 0 35px;
      background-color: var(--theme-color1);
      color: var(--theme-color1-text-color);
      &:hover {
        background-color: var(--theme-color3);
        color: var(--theme-color3-text-color);
      }
    }
    @media (max-width: $ele-breakpoint-mobile-max) {
      .mc4wp-form-fields {
        flex-direction: column;
      }
      input[name="EMAIL"] {
        margin: 0 0 15px 0;
      }
      input[type="submit"] {
        padding: 7px 35px;
        width: 100%;
      }
      button[type="submit"] {
        padding: 7px 35px;
        width: 100%;
      }
    }
  }

  /*form-style-default*/
  &.form-style-default {
    input[name="EMAIL"] {
      padding: 17px 30px;
      width: 100%;
      color: #000000;
      background-color: #ffffff;
      border-style: solid;
      border-width: 3px 0px 3px 3px;
      border-color: var(--theme-color1);
    }
    input[type="submit"],
    button[type="submit"] {
      font-size: 16px;
      line-height: 50px;
      display: inline-block;
      text-align: center;
      transition: ease 0.3s;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;
      border: none;
      margin-left: 0;
      padding: 0 35px;
      background-color: var(--theme-color1);
      color: var(--theme-color1-text-color);
      &:hover {
        background-color: var(--theme-color3);
        color: var(--theme-color3-text-color);
      }
    }
    @media (max-width: $ele-breakpoint-mobile-max) {
      .mc4wp-form-fields {
        flex-direction: column;
      }
      input[name="EMAIL"] {
        margin: 0 0 15px 0;
        border-right-width: 3px;
      }
      input[type="submit"] {
        padding: 7px 35px;
        width: 100%;
      }
      button[type="submit"] {
        padding: 7px 35px;
        width: 100%;
      }
    }
  }

  /*form-style-round*/
  &.form-style-round {
    input[name="EMAIL"] {
      padding: 17px 30px;
      width: 100%;
      border: none;
      background-color: var(--theme-color2);
      color: var(--theme-color2-text-color);
      border: 1px solid transparent;
      border-radius: 60px;
      margin-right: 10px;
    }
    input[type="submit"],
    button[type="submit"] {
      font-size: 16px;
      line-height: 50px;
      display: inline-block;
      text-align: center;
      transition: ease 0.3s;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;
      border: none;
      margin-left: 0;
      padding: 0 35px;
      border-radius: 60px;
      background-color: var(--theme-color1);
      color: var(--theme-color1-text-color);
      &:hover {
        background-color: var(--theme-color3);
        color: var(--theme-color3-text-color);
      }
    }
    @media (max-width: $ele-breakpoint-mobile-max) {
      .mc4wp-form-fields {
        flex-direction: column;
      }
      input[name="EMAIL"] {
        margin: 0 0 15px 0;
      }
      input[type="submit"] {
        padding: 7px 35px;
        width: 100%;
      }
      button[type="submit"] {
        padding: 7px 35px;
        width: 100%;
      }
    }
  }

  /*form-style-btn-absolute*/
  &.form-style-btn-absolute {
    .mc4wp-form-fields {
      max-width: initial;
      margin: 0;
    }
    input[name="EMAIL"] {
      padding: 17px 30px;
      width: 100%;
      border: none;
      background-color: var(--theme-color2);
      color: var(--theme-color2-text-color);
      border: 1px solid transparent;
    }
    input[type="submit"],
    button[type="submit"] {
      border-radius: 7px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      font-size: 16px;
      line-height: 50px;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;
      border: none;
      margin-left: 0;
      padding: 0 35px;
      background-color: var(--theme-color1);
      color: var(--theme-color1-text-color);
      &:hover {
        background-color: var(--theme-color3);
        color: var(--theme-color3-text-color);
      }
    }
    @media (max-width: $ele-breakpoint-mobile-max) {
      .mc4wp-form-fields {
        flex-direction: column;
      }
      input[name="EMAIL"] {
        margin: 0 0 15px 0;
      }
      input[type="submit"],
      button[type="submit"] {
        padding: 7px 35px;
        width: 100%;
      }
    }
    @media (min-width: $ele-breakpoint-tablet-min) {
      input[type="submit"],
      button[type="submit"] {
        position: absolute;
        right: 10px;
        top: 8px;
        bottom: 8px;
      }
    }
  }
}
