@font-face {
  font-family: 'FlaticonCommon';
  src:  url('fonts/flaticons-common.eot?wmnaxx');
  src:  url('fonts/flaticons-common.eot?wmnaxx#iefix') format('embedded-opentype'),
    url('fonts/flaticons-common.ttf?wmnaxx') format('truetype'),
    url('fonts/flaticons-common.woff?wmnaxx') format('woff'),
    url('fonts/flaticons-common.svg?wmnaxx#FlaticonCommon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="flaticon-common-"], [class*=" flaticon-common-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FlaticonCommon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-common-cart:before {
  content: "\e003";
}
.flaticon-common-close:before {
  content: "\e005";
}
.flaticon-common-dropdown:before {
  content: "\e00a";
}
.flaticon-common-favourite:before {
  content: "\e00c";
}
.flaticon-common-rocket:before {
  content: "\e01c";
}
.flaticon-common-search:before {
  content: "\e01d";
}
.flaticon-common-arrow-left:before {
  content: "\e029";
}
.flaticon-common-arrow-right:before {
  content: "\e02a";
}
.flaticon-common-comments:before {
  content: "\e035";
}
.flaticon-common-envelope:before {
  content: "\e037";
}
.flaticon-common-folder-open:before {
  content: "\e03d";
}
.flaticon-common-gift:before {
  content: "\e040";
}
.flaticon-common-home:before {
  content: "\e044";
}
.flaticon-common-map-marker-check:before {
  content: "\e04c";
}
.flaticon-common-minus:before {
  content: "\e04e";
}
.flaticon-common-plus:before {
  content: "\e051";
}
.flaticon-common-quote:before {
  content: "\e052";
}
.flaticon-common-shopping-cart:before {
  content: "\e057";
}
.flaticon-common-star:before {
  content: "\e05c";
}
.flaticon-common-tachometer-alt:before {
  content: "\e05f";
}
.flaticon-common-times:before {
  content: "\e064";
}
.flaticon-common-cloud-upload:before {
  content: "\e80a";
}
.flaticon-common-cog:before {
  content: "\e810";
}
.flaticon-common-heart:before {
  content: "\e813";
}
.flaticon-common-user:before {
  content: "\e82a";
}
.flaticon-common-users:before {
  content: "\e82b";
}
.flaticon-common-store:before {
  content: "\e82d";
}
.flaticon-common-cart1:before {
  content: "\e82e";
}
.flaticon-common-phone-handset:before {
  content: "\e830";
}
.flaticon-common-map-marker:before {
  content: "\e833";
}
.flaticon-common-map:before {
  content: "\e834";
}
.flaticon-common-screen:before {
  content: "\e839";
}
.flaticon-common-smartphone:before {
  content: "\e83a";
}
.flaticon-common-tablet:before {
  content: "\e83b";
}
.flaticon-common-bubble:before {
  content: "\e83f";
}
.flaticon-common-pie-chart:before {
  content: "\e842";
}
.flaticon-common-gift1:before {
  content: "\e844";
}
.flaticon-common-diamond:before {
  content: "\e845";
}
.flaticon-common-rocket1:before {
  content: "\e84b";
}
.flaticon-common-briefcase:before {
  content: "\e84c";
}
.flaticon-common-alarm:before {
  content: "\e858";
}
.flaticon-common-thumbs-up:before {
  content: "\e86d";
}
.flaticon-common-magnifier:before {
  content: "\e86f";
}
.flaticon-common-cross:before {
  content: "\e870";
}
.flaticon-common-chevron-up:before {
  content: "\e873";
}
.flaticon-common-chevron-down:before {
  content: "\e874";
}
.flaticon-common-chevron-left:before {
  content: "\e875";
}
.flaticon-common-chevron-right:before {
  content: "\e876";
}
.flaticon-common-arrow-up:before {
  content: "\e877";
}
.flaticon-common-arrow-down:before {
  content: "\e878";
}
.flaticon-common-arrow-left1:before {
  content: "\e879";
}
.flaticon-common-arrow-right1:before {
  content: "\e87a";
}
.flaticon-common-checkmark-circle:before {
  content: "\e87f";
}
.flaticon-common-cross-circle:before {
  content: "\e880";
}
.flaticon-common-plus-circle:before {
  content: "\e881";
}
.flaticon-common-circle-minus:before {
  content: "\e882";
}
.flaticon-common-arrow-up-circle:before {
  content: "\e883";
}
.flaticon-common-arrow-down-circle:before {
  content: "\e884";
}
.flaticon-common-arrow-left-circle:before {
  content: "\e885";
}
.flaticon-common-arrow-right-circle:before {
  content: "\e886";
}
.flaticon-common-chevron-up-circle:before {
  content: "\e887";
}
.flaticon-common-chevron-down-circle:before {
  content: "\e888";
}
.flaticon-common-chevron-left-circle:before {
  content: "\e889";
}
.flaticon-common-chevron-right-circle:before {
  content: "\e88a";
}
.flaticon-common-diamond1:before {
  content: "\e917";
}
.flaticon-common-line:before {
  content: "\f104";
}
.flaticon-common-sign:before {
  content: "\f105";
}
.flaticon-common-delete:before {
  content: "\f106";
}
.flaticon-common-check-symbol:before {
  content: "\f107";
}
.flaticon-common-round:before {
  content: "\f108";
}
.flaticon-common-delete-cross:before {
  content: "\f109";
}
.flaticon-common-location:before {
  content: "\f10a";
}
.flaticon-common-shelter:before {
  content: "\f10c";
}
.flaticon-common-technology:before {
  content: "\f10d";
}
.flaticon-common-support:before {
  content: "\f111";
}
.flaticon-common-arrows:before {
  content: "\f114";
}
.flaticon-common-home1:before {
  content: "\f115";
}
.flaticon-common-cross1:before {
  content: "\f116";
}
.flaticon-common-line-1:before {
  content: "\f117";
}
.flaticon-common-right-arrow:before {
  content: "\f118";
}
.flaticon-common-arrows-1:before {
  content: "\f119";
}
.flaticon-common-correct:before {
  content: "\f11d";
}
.flaticon-common-arrows-2:before {
  content: "\f11f";
}
.flaticon-common-arrows-3:before {
  content: "\f120";
}
.flaticon-common-arrows-4:before {
  content: "\f121";
}
.flaticon-common-arrows-5:before {
  content: "\f122";
}
.flaticon-common-checked:before {
  content: "\f123";
}
.flaticon-common-line-2:before {
  content: "\f124";
}
.flaticon-common-headphones:before {
  content: "\f126";
}
.flaticon-common-heart1:before {
  content: "\f128";
}
.flaticon-common-settings:before {
  content: "\f129";
}
.flaticon-common-phone-call:before {
  content: "\f12c";
}
.flaticon-common-shopping-bag:before {
  content: "\f12d";
}
.flaticon-common-remove:before {
  content: "\f130";
}
.flaticon-common-check:before {
  content: "\f131";
}
.flaticon-common-bar-chart:before {
  content: "\f141";
}
.flaticon-common-speech-bubble:before {
  content: "\f142";
}
.flaticon-common-maps-and-flags:before {
  content: "\f14b";
}
.flaticon-common-arrows-10:before {
  content: "\f151";
}
.flaticon-common-quote1:before {
  content: "\f159";
}
.flaticon-common-right-quote:before {
  content: "\f15a";
}
.flaticon-common-chat:before {
  content: "\f15c";
}
.flaticon-common-next:before {
  content: "\f15d";
}
.flaticon-common-back:before {
  content: "\f15e";
}
.flaticon-common-placeholder-1:before {
  content: "\f163";
}
.flaticon-common-worldwide:before {
  content: "\f16e";
}
.flaticon-common-left-arrow-1:before {
  content: "\f172";
}
.flaticon-common-right-1:before {
  content: "\f174";
}
.flaticon-common-right-2:before {
  content: "\f17e";
}
.flaticon-common-left-1:before {
  content: "\f17f";
}
.flaticon-common-case:before {
  content: "\f184";
}
.flaticon-common-settings-1:before {
  content: "\f187";
}
.flaticon-common-worldwide-1:before {
  content: "\f188";
}
.flaticon-common-139-tick:before {
  content: "\f189";
}
.flaticon-common-tick-1:before {
  content: "\f18a";
}
.flaticon-common-shopping-bag-1:before {
  content: "\f18b";
}
.flaticon-common-confirmation:before {
  content: "\f18c";
}
.flaticon-common-mobile-phone:before {
  content: "\f190";
}
.flaticon-common-down-arrow:before {
  content: "\f191";
}
.flaticon-common-down-arrow-1:before {
  content: "\f192";
}
.flaticon-common-down-chevron:before {
  content: "\f193";
}
.flaticon-common-email-1:before {
  content: "\f199";
}
.flaticon-common-smartphone-3:before {
  content: "\f19e";
}
.flaticon-common-call:before {
  content: "\f1b0";
}
.flaticon-common-call-1:before {
  content: "\f1b1";
}
.flaticon-common-chat-1:before {
  content: "\f1c3";
}
.flaticon-common-plus1:before {
  content: "\f1e2";
}
.flaticon-common-minus-1:before {
  content: "\f1e3";
}
.flaticon-common-clock:before {
  content: "\f125";
}
.flaticon-common-call-2:before {
  content: "\f112";
}
.flaticon-common-envelope2:before {
  content: "\f127";
}
.flaticon-common-call-3:before {
  content: "\f12e";
}
.flaticon-common-call-4:before {
  content: "\f12b";
}
.flaticon-common-call-5:before {
  content: "\f12a";
}
.flaticon-common-map2:before {
  content: "\f12f";
}
.flaticon-common-envelope3:before {
  content: "\f132";
}
.flaticon-common-call-6:before {
  content: "\f10b";
}
.flaticon-common-call-7:before {
  content: "\f11e";
}
.flaticon-common-tag:before {
  content: "\f15f";
}
.flaticon-common-secure:before {
  content: "\f15b";
}
.flaticon-common-bag:before {
  content: "\f10e";
}
.flaticon-common-wallet:before {
  content: "\f11a";
}
.flaticon-common-box:before {
  content: "\f150";
}
.flaticon-common-support-24:before {
  content: "\f13d";
}
.flaticon-common-tag2:before {
  content: "\f13e";
}
.flaticon-common-bag-star:before {
  content: "\f14c";
}
.flaticon-common-box3:before {
  content: "\f14a";
}
.flaticon-common-cart2:before {
  content: "\f164";
}
.flaticon-common-cart3:before {
  content: "\f157";
}
.flaticon-common-box4:before {
  content: "\f14d";
}
.flaticon-common-call-8:before {
  content: "\f13b";
}
.flaticon-common-box-deliver:before {
  content: "\f143";
}
.flaticon-common-box5:before {
  content: "\f14f";
}
.flaticon-common-discount:before {
  content: "\f144";
}
.flaticon-common-box6:before {
  content: "\f14e";
}
.flaticon-common-call-9:before {
  content: "\f133";
}
