.tm-product-category-default {
  .cat-image {
    display: flex;
    justify-content: center;
    a{
      display: inline-block;
      position: relative;
      text-align: center;
      &:before{
        content: "";
        position: absolute;
        width: 210px;
        height: 210px;
        left: 50%;
        top: -40px;
        border-radius: 5%;
        transform: translateX(-50%);
        z-index: -1;
        background-color: var(--theme-color1);
        transition: all 0.3s ease;
      }
    }
    img{
      transition: all 0.3s ease;
    }
  }
  .cat-details{
    text-align: center;
    .cat-title{
      margin-top: 0;
      margin-bottom: 10px;
      a{
      }
    }
    .count{
      display: block;
      font-size: 15px;
    }
  }
  &:hover{
    .cat-image {
      img{
        transform: scale(1.04);
      }
    }
  }
}
