.mh-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.mh-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.mh-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.mh-sc-projects .cat-list li:last-child span {
  display: none;
}

.mh-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.mh-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.mh-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.mh-sc-projects .cat-list li:last-child span {
  display: none;
}

.projects-current-theme1 {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 880.98px) {
  .projects-current-theme1 {
    max-height: 445px;
    height: 100%;
  }
}
@media (max-width: 575.98px) {
  .projects-current-theme1 {
    max-height: 345px;
  }
}
.projects-current-theme1.style-height {
  height: 927px;
}
.projects-current-theme1 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: block;
  object-fit: cover;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media (max-width: 880.98px) {
  .projects-current-theme1 img {
    max-height: 445px;
  }
}
@media (max-width: 575.98px) {
  .projects-current-theme1 img {
    max-height: 345px;
  }
}
.projects-current-theme1 img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateX(50%) scaleX(2);
  transform: translate(50%) scaleX(2);
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.projects-current-theme1:hover img:first-child {
  -webkit-transform: translateX(0) scaleX(1);
  transform: translate(0) scaleX(1);
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}
.projects-current-theme1:hover img:nth-child(2) {
  -webkit-transform: translateX(-50%) scaleX(2);
  transform: translateX(-50%) scaleX(2);
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.projects-current-theme1:hover .content {
  clip-path: inset(0 0 0 0);
}
.projects-current-theme1 .content {
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: fit-content;
  width: fit-content;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.5s ease;
  z-index: 9;
  margin: 0px 20px;
}
@media (max-width: 575.98px) {
  .projects-current-theme1 .content {
    background-color: var(--theme-color-white);
    border-radius: 20px;
  }
}
.projects-current-theme1 .content .title {
  background-color: var(--theme-color-white);
  padding: 18px 30px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: -1px;
}
@media (max-width: 1399.98px) {
  .projects-current-theme1 .content .title {
    border-bottom-left-radius: 20px;
    padding-bottom: 20px;
  }
}
.projects-current-theme1 .content .title.text-size2 {
  font-size: 32px;
}
.projects-current-theme1 .content .title a {
  background-position: 0 95%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  display: inline;
}
.projects-current-theme1 .content .title a:hover {
  color: var(--theme-color1);
  background-size: 100% 2px;
  background-image: linear-gradient(180deg, var(--theme-color1) 0%, var(--theme-color1) 100%);
}
.projects-current-theme1 .content ul {
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: var(--theme-color-white);
  padding: 18px 30px;
  border-radius: 20px;
  padding-top: 0;
  border-top-left-radius: 0;
  display: inline-flex;
  border-top-right-radius: 0;
  position: relative;
  list-style: none;
  padding-bottom: 5px;
}
@media (max-width: 575.98px) {
  .projects-current-theme1 .content ul {
    padding-bottom: 15px;
    display: inline-block;
  }
}
@media (max-width: 1399.98px) {
  .projects-current-theme1 .content ul {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .projects-current-theme1 .content ul li {
    margin: 0;
    display: inline-block;
    margin-right: 5px;
  }
}
.projects-current-theme1 .content ul li a {
  color: var(--theme-color2);
  font-size: 20px;
}
[data-mh-layout=dark] .projects-current-theme1 .content ul li a {
  color: #fff;
}
@media (max-width: 991.98px) {
  .projects-current-theme1 .content ul li a {
    font-size: 16px;
  }
}
.projects-current-theme1 .content ul li a:hover {
  color: var(--theme-color1);
}
.projects-current-theme1 .content ul li .pxl-icon-item {
  position: absolute;
  top: -3px;
  right: -28px;
  transform: rotate(0deg);
}
body.rtl .projects-current-theme1 .content ul li .pxl-icon-item {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.projects-current-theme1 .content ul li .pxl-icon-item svg {
  color: var(--theme-color-white);
}
@media (max-width: 575.98px) {
  .projects-current-theme1 .content ul li .pxl-icon-item {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .projects-current-theme1 .content ul li:last-child {
    display: none;
  }
}
.projects-current-theme1 .content ul .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--theme-color1);
}

.mh-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.mh-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.mh-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.mh-sc-projects .cat-list li:last-child span {
  display: none;
}

.projects-current-theme2 {
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
@media (max-width: 991.98px) {
  .projects-current-theme2 {
    height: 500px;
  }
}
.projects-current-theme2 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: block;
  object-fit: cover;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.projects-current-theme2 img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateX(50%) scaleX(2);
  transform: translate(50%) scaleX(2);
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.projects-current-theme2:hover img:first-child {
  -webkit-transform: translateX(0) scaleX(1);
  transform: translate(0) scaleX(1);
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}
.projects-current-theme2:hover img:nth-child(2) {
  -webkit-transform: translateX(-50%) scaleX(2);
  transform: translateX(-50%) scaleX(2);
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.projects-current-theme2:hover .content {
  clip-path: inset(0 0 0 0);
}
.projects-current-theme2 .content {
  position: absolute;
  bottom: 20px;
  left: 0px;
  margin: 0px 20px;
  background-color: var(--theme-color-white);
  border-radius: 20px;
  padding: 30px;
  z-index: 9;
  padding-right: 40px;
  width: fit-content;
  width: fit-content;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.5s ease;
}
.projects-current-theme2 .content ul {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 5px;
  list-style: none;
}
@media (max-width: 575.98px) {
  .projects-current-theme2 .content ul {
    padding-bottom: 0px;
    display: inline-block;
  }
}
.projects-current-theme2 .content ul li {
  margin: 0;
}
@media (max-width: 575.98px) {
  .projects-current-theme2 .content ul li {
    margin: 0;
    display: inline-block;
    margin-right: 5px;
  }
}
.projects-current-theme2 .content ul li a {
  color: var(--theme-color2);
  font-size: 20px;
}
[data-mh-layout=dark] .projects-current-theme2 .content ul li a {
  color: #fff;
}
@media (max-width: 991.98px) {
  .projects-current-theme2 .content ul li a {
    font-size: 16px;
  }
}
.projects-current-theme2 .content ul li a:hover {
  color: var(--theme-color1);
}
.projects-current-theme2 .content ul .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--theme-color1);
}
.projects-current-theme2 .content .title {
  margin: 0;
  font-size: 26px;
}
@media (max-width: 1199.98px) {
  .projects-current-theme2 .content .title {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  .projects-current-theme2 .content .title {
    font-size: 22px;
  }
}
@media (max-width: 991.98px) {
  .projects-current-theme2 .content .title {
    font-size: 20px;
  }
}
.projects-current-theme2 .content .title a {
  background-position: 0 95%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  display: inline;
}
.projects-current-theme2 .content .title a:hover {
  color: var(--theme-color1);
  background-size: 100% 2px;
  background-image: linear-gradient(180deg, var(--theme-color1) 0%, var(--theme-color1) 100%);
}

.mh-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.mh-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.mh-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.mh-sc-projects .cat-list li:last-child span {
  display: none;
}

.projects-current-theme3 .inner-box {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: relative;
  min-height: 636px;
  display: flex;
  align-items: self-end;
  z-index: 1;
  transition: all 300ms ease;
}
@media (max-width: 1024.98px) {
  .projects-current-theme3 .inner-box {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 470px;
  }
}
@media (max-width: 767.98px) {
  .projects-current-theme3 .inner-box {
    min-height: 500px;
  }
}
.projects-current-theme3 .inner-box:hover, .projects-current-theme3 .inner-box.active {
  background: linear-gradient(90deg, rgba(224, 222, 222, 0.2) 0%, rgba(200, 200, 200, 0.2) 102.17%);
  backdrop-filter: blur(40px);
}
.projects-current-theme3 .inner-box:hover .content, .projects-current-theme3 .inner-box.active .content {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.projects-current-theme3 .inner-box:hover .content .btn-box, .projects-current-theme3 .inner-box.active .content .btn-box {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.projects-current-theme3 .content {
  position: relative;
  padding: 43px 50px 47px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: translateY(105px);
  -moz-transform: translateY(105px);
  -ms-transform: translateY(105px);
  transform: translateY(105px);
  transition: all 300ms ease;
}
@media (max-width: 1399.98px) {
  .projects-current-theme3 .content {
    padding: 43px 35px 35px;
  }
}
@media (max-width: 1199.98px) {
  .projects-current-theme3 .content {
    padding: 43px 20px 35px;
  }
}
.projects-current-theme3 .content .cat-list {
  margin-bottom: 15px;
}
.projects-current-theme3 .content .cat-list li {
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  list-style: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
}
.projects-current-theme3 .content .cat-list li:first-child {
  display: inline-block;
}
.projects-current-theme3 .content .cat-list li span {
  display: none;
}
.projects-current-theme3 .content .title {
  color: var(--theme-color-white);
  margin-bottom: 41px;
  margin-top: 0;
  transition: all 300ms ease;
}
.projects-current-theme3 .content .title a {
  color: #fff;
}
.projects-current-theme3 .content .title a:hover {
  color: #fff;
}
.projects-current-theme3 .content .excerpt {
  color: rgba(var(--theme-color-white-rgb), 0.65);
  display: none;
  height: 0;
  opacity: 0;
  transition: all 300ms ease;
}
.projects-current-theme3 .content .btn-box {
  padding-bottom: 12px;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 1;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  transition: all 300ms ease;
}
[data-widget_type="mh-ele-cpt-projects.skin-style-current-theme3"] .mh-sc-projects {
  overflow: hidden;
  position: relative;
  margin-right: -1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}
[data-widget_type="mh-ele-cpt-projects.skin-style-current-theme3"] .mh-sc-projects::before {
  background: linear-gradient(180deg, rgba(69, 48, 48, 0.1) 28.72%, #151515 74.38%);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.mh-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.mh-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.mh-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.mh-sc-projects .cat-list li:last-child span {
  display: none;
}

.projects-current-theme4 .inner-block {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 300ms ease;
}
.projects-current-theme4 .inner-block:hover .image img:first-child {
  transform: translateX(0) scaleX(1);
  opacity: 1;
  filter: blur(0);
}
.projects-current-theme4 .inner-block:hover .image img:nth-child(2) {
  transform: translateX(-50%) scaleX(2);
  opacity: 0;
  filter: blur(10px);
}
.projects-current-theme4 .inner-block:hover .content {
  bottom: 0;
}
.projects-current-theme4 .inner-block .image {
  border-radius: 0;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.projects-current-theme4 .inner-block .image img {
  border-radius: 0;
  position: relative;
  width: 100%;
  display: block;
  border-radius: 15px;
  transition: all 500ms ease;
}
.projects-current-theme4 .inner-block .image img:first-child {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  transform: translateX(50%) scaleX(2);
  opacity: 0;
  border-radius: 15px;
  filter: blur(10px);
}
.projects-current-theme4 .inner-block .content {
  background: linear-gradient(180deg, rgba(15, 53, 45, 0.16) -6.25%, rgba(18, 66, 56, 0.14) 100%);
  backdrop-filter: blur(60px);
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 15px;
  padding: 30px 50px 29px;
  transition: all 300ms ease;
}
@media (max-width: 575.98px) {
  .projects-current-theme4 .inner-block .content {
    padding: 30px 15px 23px;
  }
}
.projects-current-theme4 .inner-block .content .categories-box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: inline-flex;
  gap: 7px;
  margin-bottom: 12px;
  min-width: 285px;
}
.projects-current-theme4 .inner-block .content .categories-box li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -2%;
  list-style-type: none;
  margin-right: 12px;
  margin-bottom: 11px;
  transition: all 300ms ease;
}
@media (max-width: 575.98px) {
  .projects-current-theme4 .inner-block .content .categories-box li {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 7px;
  }
}
.projects-current-theme4 .inner-block .content .categories-box li:hover {
  color: var(--theme-color-white);
}
@media (max-width: 575.98px) {
  .projects-current-theme4 .inner-block .content .categories-box li:last-child {
    margin-right: 0px;
  }
}
.projects-current-theme4 .inner-block .content .categories-box span {
  display: none;
}
.projects-current-theme4 .inner-block .content .title {
  color: #fff;
  margin-bottom: 3px;
  margin-top: 0;
}
.projects-current-theme4 .inner-block .content .title:hover {
  color: var(--theme-color1);
}

.mh-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.mh-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.mh-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.mh-sc-projects .cat-list li:last-child span {
  display: none;
}

.projects-current-theme5 {
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
@media (max-width: 991.98px) {
  .projects-current-theme5 {
    height: 500px;
  }
}
.projects-current-theme5:before {
  border: 1px solid #fff;
  border-radius: 19px;
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.projects-current-theme5 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: block;
  object-fit: cover;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.projects-current-theme5 img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateX(50%) scaleX(2);
  transform: translate(50%) scaleX(2);
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.projects-current-theme5:hover:before {
  opacity: 1;
  visibility: visible;
}
.projects-current-theme5:hover img:first-child {
  -webkit-transform: translateX(0) scaleX(1);
  transform: translate(0) scaleX(1);
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}
.projects-current-theme5:hover img:nth-child(2) {
  -webkit-transform: translateX(-50%) scaleX(2);
  transform: translateX(-50%) scaleX(2);
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.projects-current-theme5:hover .content {
  clip-path: inset(0 0 0 0);
}
.projects-current-theme5 .content {
  position: absolute;
  bottom: 20px;
  left: 0px;
  margin: 0px 20px;
  background-color: var(--theme-color-white);
  border-radius: 20px;
  padding: 30px;
  z-index: 9;
  padding-right: 40px;
  width: fit-content;
  width: fit-content;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.5s ease;
}
.projects-current-theme5 .content ul {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 5px;
  list-style: none;
}
@media (max-width: 575.98px) {
  .projects-current-theme5 .content ul {
    padding-bottom: 0px;
    display: inline-block;
  }
}
.projects-current-theme5 .content ul li {
  margin: 0;
}
@media (max-width: 575.98px) {
  .projects-current-theme5 .content ul li {
    margin: 0;
    display: inline-block;
    margin-right: 5px;
  }
}
.projects-current-theme5 .content ul li a {
  color: var(--theme-color2);
  font-size: 20px;
}
@media (max-width: 991.98px) {
  .projects-current-theme5 .content ul li a {
    font-size: 16px;
  }
}
.projects-current-theme5 .content ul li a:hover {
  color: var(--theme-color1);
}
.projects-current-theme5 .content ul .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--theme-color1);
}
.projects-current-theme5 .content .title {
  margin: 0;
  font-size: 26px;
}
@media (max-width: 1199.98px) {
  .projects-current-theme5 .content .title {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  .projects-current-theme5 .content .title {
    font-size: 22px;
  }
}
@media (max-width: 991.98px) {
  .projects-current-theme5 .content .title {
    font-size: 20px;
  }
}
.projects-current-theme5 .content .title a {
  background-position: 0 95%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  display: inline;
}
.projects-current-theme5 .content .title a:hover {
  color: var(--theme-color1);
  background-size: 100% 2px;
  background-image: linear-gradient(180deg, var(--theme-color1) 0%, var(--theme-color1) 100%);
}

.mh-sc-projects .cat-list {
  list-style: none;
  margin: 0;
}
.mh-sc-projects .cat-list li {
  display: inline;
  color: #aaa;
  margin-right: 7px;
  font-size: 13px;
}
.mh-sc-projects .cat-list li a {
  color: #aaa;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.mh-sc-projects .cat-list li:last-child span {
  display: none;
}

.projects-mouse-follow-floating-info .thumb {
  position: relative;
}
.projects-mouse-follow-floating-info .thumb img {
  border-radius: 5px;
}
.projects-mouse-follow-floating-info .thumb .details {
  position: absolute;
  left: 30px;
  bottom: 30px;
  transition: all 0.5s;
  transform: translateY(20px);
  opacity: 0;
  z-index: 1;
  display: none;
}
.projects-mouse-follow-floating-info .thumb .details .title {
  color: #fff;
  padding-right: 60px;
  line-height: 36px;
  margin: 0;
  position: relative;
}
.projects-mouse-follow-floating-info .thumb .btn-view-details {
  position: absolute;
  bottom: -15px;
  right: 40px;
  transition: all 0.5s;
  opacity: 0;
  z-index: 1;
}
.projects-mouse-follow-floating-info .thumb .btn-view-details a {
  font-size: 14px;
  padding: 8px 16px;
  text-transform: capitalize;
}
.projects-mouse-follow-floating-info .thumb:after {
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s;
  border-radius: 5px;
}
.projects-mouse-follow-floating-info:hover .thumb .details {
  transform: translateY(0);
  opacity: 1;
}
.projects-mouse-follow-floating-info:hover .thumb .btn-view-details {
  right: 20px;
  opacity: 1;
}
.projects-mouse-follow-floating-info:hover .thumb:after {
  opacity: 1;
  height: 100%;
  background: linear-gradient(0deg, #081B2C, transparent);
}