.tm-product-list-default {
  .elementor-widget-organey-products ul.products & {
    .woocommerce-loop-product__title{
      margin-top: 0;
    }
    .star-rating {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .product-list{
    list-style: none;
    .product {
      .product-block{
        display: flex;
      }
      .star-rating{
        float: none;
        font-size: 0.7em;
      }
      .content-left{
        padding-right: 15px;
        max-width: 110px;
        img{
          border-radius: 12px;
        }
      }
      .content-right{
        flex: 1;
        padding-right: 15px;

        .product-title{
          font-size: 16px;
          margin-top: 0;
          margin-bottom: 5px;
        }
        .amount{
          font-size: 15px;
        }
        .star-rating{
          margin-bottom: 5px;
        }

        .woocommerce-loop-product__title{
          margin-top: 5px;
          + .star-rating{
            margin-bottom: 5px;
            margin-top: -5px;
            font-size: 12px;
          }
        }
      }
    }
  }
}